{% for entry in entity.links | wikipedia %}
    {{ entry.content | safe }}
    <p>{% trans uri = entry.uri %}Read more on <a href="{{ uri }}">Wikipedia</a>.{% endtrans %}</p>
    <small>{% trans %}<a href="https://en.wikipedia.org/wiki/Wikipedia:Copyrights">Copyright</a> Wikipedia and its contributors.{% endtrans %}</small>
{% endfor %}
