{% extends 'base.html.j2' %}
{% set page_title = entity_type.entity_type_label_plural() | localize %}
{% do breadcrumbs.append(
    page_title,
    page_resource | url(absolute=true)
) %}
{% block page_content %}
{% endblock %}
