{% extends 'base.html.j2' %}
{% set page_title = resource.resource.label_plural | localize %}
{% do resource.breadcrumbs.append(
    page_title,
    resource.resource
) %}
{% block page_content %}
{% endblock %}
