{% extends 'base.html.j2' %}
{% set page_title = _('Media') %}
{% block page_content %}
    {% if entities | length > 0 %}
        {% include 'entity/list--file.html.j2' %}
    {% else %}
        <p>{% trans %}I'm sorry, dear, but it seems there are no media.{% endtrans %}</p>
    {% endif %}
{% endblock %}
