{% extends 'base.html.j2' %}
{% set page_title = _('Sources') %}
{% block page_content %}
    {% if entities | length > 0 %}
        <ul class="entities">
            {% for source in entities | sort(attribute='name') %}
                <li class="{{ loop.cycle('odd', 'even') }}">
                    {% with entity = source %}
                        {% include ['entity/label-source.html.j2', 'entity/label.html.j2'] %}
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans %}I'm sorry, dear, but it seems there are no sources.{% endtrans %}</p>
    {% endif %}
{% endblock %}
