{% extends 'base.html.j2' %}
{% block page_content %}
    <div style="height: 500px; width: 500px;">
        {% with places = project.ancestry[app.plugins('entity')['place']] %}
            {% include 'maps/map.html.j2' %}
        {% endwith %}
    </div>
{% endblock %}
