{% set view_padding %}
  {% include 'maps/view-padding.json.j2' %}
{% endset %}

{% set cluster_maximum_feature_distance %}
  {% include 'maps/cluster/maximum-feature-distance.json.j2' %}
{% endset %}

{% set cluster_minimum_cluster_distance %}
  {% include 'maps/cluster/minimum-cluster-distance.json.j2' %}
{% endset %}

{% set marker_place_anchor %}
  {% include 'maps/marker/place-anchor.json.j2' %}
{% endset %}

{% set ns = namespace(
  control_full_screen = {},
  control_zoom_in = {},
  control_zoom_out = {},
  selected_place = {}
) %}
{% for locale in project.configuration.locales %}
  {% with localizer = app.localizers.get(locale) %}
    {% set control_full_screen %}
      {% include 'maps/control/full-screen.html.j2' %}
    {% endset %}
    {% do ns.control_full_screen.setdefault(locale, control_full_screen.strip()) %}

    {% set control_zoom_in %}
      {% include 'maps/control/zoom-in.html.j2' %}
    {% endset %}
    {% do ns.control_zoom_in.setdefault(locale, control_zoom_in.strip()) %}

    {% set control_zoom_out %}
      {% include 'maps/control/zoom-out.html.j2' %}
    {% endset %}
    {% do ns.control_zoom_out.setdefault(locale, control_zoom_out.strip()) %}

    {% set selected_place %}
      {% include 'maps/selected-place.html.j2' %}
    {% endset %}
    {% do ns.selected_place.setdefault(locale, selected_place.strip()) %}
  {% endwith %}
{% endfor %}

{% set marker_place %}
  {% include 'maps/marker/place.svg.j2' %}
{% endset %}

{% set marker_place_selected %}
  {% include ['maps/marker/place--selected.svg.j2', 'maps/marker/place.svg.j2'] %}
{% endset %}

{% set marker_place_cluster %}
  {% include 'maps/marker/place-cluster.svg.j2' %}
{% endset %}

{% set marker_place_cluster_10 %}
  {% include ['maps/marker/place-cluster--10.svg.j2', 'maps/marker/place-cluster.svg.j2'] %}
{% endset %}

{% set marker_place_cluster_100 %}
  {% include ['maps/marker/place-cluster--100.svg.j2', 'maps/marker/place-cluster--10.svg.j2', 'maps/marker/place-cluster.svg.j2'] %}
{% endset %}

{% set marker_place_cluster_1000 %}
  {% include ['maps/marker/place-cluster--1000.svg.j2', 'maps/marker/place-cluster--100.svg.j2', 'maps/marker/place-cluster--10.svg.j2', 'maps/marker/place-cluster.svg.j2'] %}
{% endset %}

{{ {
  "viewPadding": view_padding.strip() | json_load,
  "clusterMaximumFeatureDistance": cluster_maximum_feature_distance.strip() | json_load,
  "clusterMinimumClusterDistance": cluster_minimum_cluster_distance.strip() | json_load,
  "fullScreenControlButtonHtml": ns.control_full_screen,
  "zoomInControlButtonHtml": ns.control_zoom_in,
  "zoomOutControlButtonHtml": ns.control_zoom_out,
  "selectedPlaceHtml": ns.selected_place,
  "markerPlaceAnchor": marker_place_anchor.strip() | json_load,
  "markerPlaceSvg": marker_place.strip(),
  "markerPlaceSelectedSvg": marker_place_selected.strip(),
  "markerPlaceCluster1Svg": marker_place_cluster.strip(),
  "markerPlaceCluster10Svg": marker_place_cluster_10.strip(),
  "markerPlaceCluster100Svg": marker_place_cluster_100.strip(),
  "markerPlaceCluster1000Svg": marker_place_cluster_1000.strip()
} | json_dump | safe }}
