{%- import 'macro/person.html.j2' as person_macros -%}
<!doctype html>
<html lang="{{ app.locale }}"
      prefix="foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rel: http://purl.org/vocab/relationship/">
<head>
    {% include 'head.html.j2' %}
    <link rel="manifest" href="{{ '/betty.webmanifest' | static_url }}"/>
    <link rel="stylesheet" href="{{ '/cotton_candy.css' | static_url }}"/>
    <script src="{{ '/cotton_candy.js' | static_url }}" defer></script>
</head>
<div>
    <script>
        document.body.classList.add('with-js');
    </script>
    <nav class="container">
        <nav class="navbar">
            <a class="navbar-brand nav-brand-site-logo" href="{{ '/index.html' | url }}"
               title="{% trans %}Go to the front page{% endtrans %}">{{ app.project.configuration.title }}</a>
        </nav>
        <nav class="navbar">
            <div id="search"
                 data-betty-search-configuration="{{ '/search-configuration.json' | static_url }}"
                 data-betty-search-index="{{ '/search-index.json' | url }}">
                <div class="overlay-controls">
                    <span class="overlay-control overlay-close"
                          title="{% trans %}Exit the search{% endtrans %}">{% trans %}Exit the search{% endtrans %}</span>
                </div>
                <form>
                    {% set search_keywords_example_person_name = app.project.ancestry.entities['Person'] | map(attribute='name') | first | default(none) %}
                    {% if search_keywords_example_person_name %}
                    {% set search_keywords_example -%}
                    {% trans example = person_macros.name_label(search_keywords_example_person_name, embedded=True) | striptags -%}
                        E.g. "{{ example }}"
                    {%- endtrans %}
                    {%- endset %}
                    {% endif %}
                    <input id="search-query" type="search"{% if search_keywords_example is defined %}
                           placeholder="{{ search_keywords_example | escape }}"{% endif %} />
                    <label for="search-query" title="Search">Search</label>
                </form>
                <section id="search-expanded">
                    <p id="search-instructions">
                        {% trans shortcut = pgettext('enter-search-shortcut', 's') -%}
                            Use <kbd>↑</kbd> and <kbd>↓</kbd> to navigate results, or <kbd>esc</kbd> to exit the search. Search again with <kbd>{{ shortcut }}</kbd>.
                        {%- endtrans %}
                    </p>
                    <div id="search-results-twilight">
                        <div id="search-results-container"></div>
                    </div>
                </section>
            </div>
            <nav class="nav-expandable">
                <h2>{% trans %}Menu{% endtrans %}</h2>
                <div class="nav-expanded list-group list-group-flush vw-100">
                    {% for entity_type_configuration in app.project.configuration.entity_types.values() | selectattr('generate_html_list') %}
                        {% if app.project.ancestry.entities[entity_type_configuration.entity_type] | length > 0 %}
                            <a
                                    href="{{ ('/' + entity_type_configuration.entity_type | entity_type_name | camel_case_to_kebab_case + '/index.html') | url }}"
                                    class="list-group-item list-group-item-action"
                            >
                                {% if 'Event' == entity_type_configuration.entity_type | entity_type_name %}
                                    {% trans %}Timeline{% endtrans %}
                                {% else %}
                                    {{ entity_type_configuration.entity_type.entity_type_label_plural(app.localizer) }}
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </nav>
            {% if page_resource is defined and app.project.configuration.multilingual %}
                <nav class="nav-expandable">
                    <h2>{% trans %}Language{% endtrans %}</h2>
                    <div class="nav-expanded list-group list-group-flush vw-100">
                        {% set ns = namespace(available_locales=[]) %}
                        {% for available_locale_configuration in app.project.configuration.locales.values() %}
                            {% set available_locale_data = available_locale_configuration.alias | locale_get_data %}
                            {% do ns.available_locales.append((available_locale_configuration.locale, available_locale_data.get_display_name())) %}
                        {% endfor %}
                        {% for available_locale, available_locale_name in ns.available_locales | sort(attribute='1') %}
                            {% set is_current_locale = available_locale == app.locale %}
                            <a
                                    href="{{ page_resource | url(locale=available_locale) }}"
                                    hreflang="{{ available_locale }}"
                                    lang="{{ available_locale }}"
                                    rel="alternate"
                                    class="list-group-item list-group-item-action{% if is_current_locale %} active"
                                        aria-current="true{% endif %}"
                            >{{ available_locale_name }}</a>
                            <li><a href="{{ page_resource | url(locale=available_locale) }}"
                                   hreflang="{{ available_locale }}" lang="{{ available_locale }}"
                                   rel="alternate">{{ available_locale_name }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </nav>
            {% endif %}
        </nav>
        {% if page_title is defined %}
            <h1>{{ page_title }}</h1>
        {% endif %}
        {% block page_content %}{% endblock %}
        {% include 'external-links.html.j2' %}
        {% include 'references.html.j2' %}
        {% include 'footer.html.j2' %}
        {% include 'linked-data.html.j2' %}
</div>
</body>
</html>
