<figure>
    <img src="{{ file | filter_image_resize_cover((500, 500), focus=focus) | static_url }}"{% if file.description %} alt="{{ file.description }}"{% endif %}>
    {% if file.description %}
        <figcaption>{{ file.description }}</figcaption>
    {% endif %}
</figure>
