<figure>
    <img src="{{ file | filter_image_resize_cover((1500, 1500), focus=focus) | static_url }}" class="image-fit"{% if file.description %} alt="{{ file.description }}" title="{{ file.description }}"{% endif %}>
    {% if file.description %}
        <figcaption>{{ file.description }}</figcaption>
    {% endif %}
</figure>
