<div class="featured tree" data-betty-person-id="{{ person.id }}" data-betty-people="{{ 'people.json' | url }}"></div>
{% do '/css/betty.extension.Trees.css' | public_css %}
{% do 'betty.extension.Trees' | webpack_entrypoint_js %}
