{% set source = source | default(resource) %}
{% set embedded = embedded | default(False) %}
{% if not embedded and source is identifiable -%}
    <a href="{{ source | url }}">
{%- endif -%}
{{ source.name }}
{%- if not embedded and source is identifiable -%}
    </a>
{%- endif %}
