{% extends 'base.html.j2' %}
{% block page_summary %}
{{ project.extensions['raspberry-mint'].configuration.regional_content["front-page-summary"] | provide_content }}
{% endblock %}
{% block page_content %}
{{ project.extensions['raspberry-mint'].configuration.regional_content["front-page-content"] | provide_content }}
{% endblock %}
