{% extends 'partials/base.html' %}
{% set title = person.label %}
{% block content %}
    <h2>Birth</h2>
    {% if person.birth %}
        <p>
            Born on:
            {{ person.birth.date.label if person.birth.date else 'unknown' }}
            in
            {% if person.birth.place %}
                <a href="/place/{{ person.birth.place.id }}">{{ person.birth.place.label }}</a>
            {% else %}
                <em>unknown</em>
            {% endif %}
        </p>
    {% else %}
        <p>Unknown.</p>
    {% endif %}

    <h2>Death</h2>
    {% if person.death %}
        <p>
            Died on:
            {{ person.death.date.label if person.death.date else 'unknown' }}
            in
            {% if person.death.place %}
                <a href="/place/{{ person.death.place.id }}">{{ person.death.place.label }}</a>
            {% else %}
                <em>unknown</em>
            {% endif %}
        </p>
    {% else %}
        <p>Unknown.</p>
    {% endif %}

    <h2>Parents</h2>
    {% if person.parents %}
        <ul>
            {% for parent in person.parents %}
                <li><a href="/person/{{ parent.id }}">{{ parent.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Unknown.</p>
    {% endif %}

    <h2>Children</h2>
    {% if person.children %}
        <ul>
            {% for child in person.children %}
                <li><a href="/person/{{ child.id }}">{{ child.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Unknown.</p>
    {% endif %}

    <h2>Siblings</h2>
    {% if person.siblings %}
        <ul>
            {% for sibling in person.siblings %}
                <li><a href="/person/{{ sibling.id }}">{{ sibling.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Unknown.</p>
    {% endif %}
{% endblock %}