{% extends 'partials/base.html' %}
{% set title = person.label %}
{% block content %}
    {% include 'partials/person-meta.html' %}

    <h2>Parents</h2>
    {% if person.parents %}
        <ul>
            {% for parent in person.parents %}
                <li><a href="/person/{{ parent.id }}">{{ parent.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Unknown.</p>
    {% endif %}

    <h2>Children</h2>
    {% if person.children %}
        <ul>
            {% for child in person.children %}
                <li><a href="/person/{{ child.id }}">{{ child.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Unknown.</p>
    {% endif %}

    <h2>Siblings</h2>
    {% if person.siblings %}
        <ul>
            {% for sibling in person.siblings %}
                <li><a href="/person/{{ sibling.id }}">{{ sibling.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Unknown.</p>
    {% endif %}
{% endblock %}