{% extends 'partials/base.html' %}
{% set title = person.label %}
{% block content %}
    {% if person.birth %}
        <span>
            Born on:
            {{ person.birth.date.label if person.birth.date else 'unknown' }}
            in
            {% if person.birth.place %}
                <a href="/place/{{ person.birth.place.id }}">{{ person.birth.place.label }}</a>
            {% else %}
                <em>unknown</em>
            {% endif %}
        </span>
    {% endif %}
    {% if person.death %}
        <span>
            Died on:
            {{ person.death.date.label if person.death.date else 'unknown' }}
            in
            {% if person.death.place %}
                <a href="/place/{{ person.death.place.id }}">{{ person.death.place.label }}</a>
            {% else %}
                <em>unknown</em>
            {% endif %}
        </span>
    {% endif %}
{% endblock %}