{% extends 'base.html.j2' %}
{% set page_title %}
    {% with embedded=True %}
        {% include 'label/event.html.j2' %}
    {% endwith %}
{% endset %}
{% block page_content %}
    {% include 'meta/event.html.j2' %}

    {% if event.place %}
        {% with places=[event.place], map_hides_list = true %}
            {% include 'list-place.html.j2' %}
        {% endwith %}
    {% endif %}

    {% set ns = namespace(witnesses=[]) %}
    {% for presence in event.presences %}
        {% if presence.role is witness_role %}
            {% set ns.witnesses = ns.witnesses + [presence.person] %}
        {% endif %}
    {% endfor %}
    {% if ns.witnesses | length > 0 %}
        <h2>{% trans %}Witnesses{% endtrans %}</h2>
        <ul>
            {% for witness in ns.witnesses %}
                <li typeof="foaf:Person" property="rel:knowsOf">{% with person=witness %}{% include 'label/person.html.j2' %}{% endwith %}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% set ns = namespace(attendees=[]) %}
    {% for presence in event.presences %}
        {% if not presence.role is subject_role and not presence.role is witness_role %}
            {% set ns.attendees = ns.attendees + [presence.person] %}
        {% endif %}
    {% endfor %}
    {% if ns.attendees | length > 0 %}
        <h2>{% trans %}Other attendees{% endtrans %}</h2>
        <ul>
            {% for attendee in ns.attendees %}
                <li typeof="foaf:Person" property="rel:knowsOf">{% with person=attendee %}{% include 'label/person.html.j2' %}{% endwith %}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% set files = event.associated_files | list %}
    {% if files | length > 0 %}
        <h2>{% trans %}Media{% endtrans %}</h2>
        {% with files=files %}
            {% include 'list-file.html.j2' %}
        {% endwith %}
    {% endif %}
{% endblock %}