{% extends 'base.html.j2' %}
{% set page_title = _('Media') %}
{% block page_content %}
    {% if entities | length > 0 %}
        {% with files=entities %}
            {% include 'list-file.html.j2' %}
        {% endwith %}
    {% else %}
        <p>{% trans %}I'm sorry, dear, but it seems there are no media.{% endtrans %}</p>
    {% endif %}
{% endblock %}
