{% extends 'base.html.j2' %}
{% set title = _('People') %}
{% block content %}
    {% with persons=entities | rejectattr('private', 'eq', True) %}
        {% include 'list-person.html.j2' %}
    {% endwith %}
{% endblock %}
