{% extends 'base.html.j2' %}
{% set page_title = _('People') %}
{% block page_content %}
    {% if entities | length > 0 %}
        {% with persons=entities | rejectattr('private', 'eq', True), group_by_affiliation=True %}
            {% include 'list-person.html.j2' %}
        {% endwith %}
    {% else %}
        <p>{% trans %}I'm sorry, dear, but it seems there are no people.{% endtrans %}</p>
    {% endif %}
{% endblock %}
