{% extends 'base.html.j2' %}
{% import 'macro/person.html.j2' as personMacros %}
{% set page_title %}
    {% with embedded=True %}
        {% include 'label/person.html.j2' %}
    {% endwith %}
{% endset %}
{% block page_content %}
    {% include 'meta/person.html.j2' %}

    {% set places = person.presences | map(attribute='event.place') | reject('equalto', None) | list | unique | list %}
    {% if places | length > 0 %}
        <section id="places">
            <h2 class="js-hide">
                {% trans %}Places{% endtrans %}
                {% with url = page_resource | url ~ '#places'%}
                    {% include 'permalink.html.j2' %}
                {% endwith %}
            </h2>
            {% with places=places %}
                {% include 'list-place.html.j2' %}
            {% endwith %}
        </section>
    {% endif %}

    {% if 'betty.plugin.wikipedia.Wikipedia' in plugins %}
        <section id="wikipedia">
            <h2 class="visually-hidden">
                {% trans %}About{% endtrans %}
                {% with url = page_resource | url ~ '#wikipedia'%}
                    {% include 'permalink.html.j2' %}
                {% endwith %}
            </h2>
            {% with entity=person %}
                {% include 'wikipedia.html.j2' %}
            {% endwith %}
        </section>
    {% endif %}

    {% set parents = person.parents | list %}
    {% set siblings = person.siblings | list %}
    {% set children = person.children | list %}

    {% set has_family =  parents | length > 0 or siblings | length > 0 or children | length > 0 %}

    {% if has_family %}
        <section id="family">
            <h2>
                {% trans %}Family{% endtrans %}
                {% with url = page_resource | url ~ '#family'%}
                    {% include 'permalink.html.j2' %}
                {% endwith %}
            </h2>
    {% endif %}

    {% if parents | length > 0 or siblings | length > 0 %}
        <div class="family">
            <div class="family-description">
                <div class="family-description-content">
                    <p>
                        {% if parents | length > 0 %}
                            {% macro parentLabel(parent) -%}
                                <span typeof="foaf:Person" property="rel:childOf">{% with person=parent, person_context=person %}{% include 'label/person.html.j2' %}{% endwith %}</span>
                            {%- endmacro %}
                            {% if person.name and person.name.individual %}
                                {% trans personIndividualName = person.name.individual, parentLabels = parents | map(parentLabel) | join(', ') %}{{ personIndividualName }} is the child of {{ parentLabels }}.{% endtrans %}
                            {% else %}
                                {% trans parentLabels = parents | map(parentLabel) | join(', ') %}They are the child of {{ parentLabels }}.{% endtrans %}
                            {% endif %}
                        {% endif %}
                        {% if siblings | length > 0 %}
                            {%- trans siblingCount = siblings | length -%}
                                They grew up with a sibling.
                            {%- pluralize -%}
                                They grew up with {{ siblingCount }} siblings.
                            {%- endtrans -%}
                        {% endif %}
                    </p>
                </div>
            </div>
            {% if siblings | length > 0 %}
                <div class="family-breakdown">
                    {% with persons=siblings, typeOf='foaf:Person', property='rel:siblingOf' %}
                        {% include 'list-person.html.j2' %}
                    {% endwith %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if children | length > 0 %}
        {% macro coParentLabel(parent) -%}
            <span typeof="foaf:Person" property="rel:spouseOf">{% with person=parent, person_context=person %}{% include 'label/person.html.j2' %}{% endwith %}</span>
        {%- endmacro %}
        {% for parents, perParentChildren in children | groupby('parents.list') %}
            <div class="family">
                <div class="family-description">
                    <div class="family-description-content">
                        <p>
                            {% do parents.remove(person) %}
                            {%- if parents | length > 0 -%}
                                {%- if person.name and person.name.individual -%}
                                    {%- trans childCount = perParentChildren | length, personIndividualName = person.name.individual, coParentLabels = parents | map(coParentLabel) | join(', ') -%}
                                        {{ personIndividualName }} had a child with {{ coParentLabels }}.
                                    {%- pluralize -%}
                                        {{ personIndividualName }} had {{ childCount }} children with {{ coParentLabels }}.
                                    {%- endtrans -%}
                                {%- else -%}
                                    {%- trans childCount = perParentChildren | length, coParentLabels = parents | map(coParentLabel) | join(', ') -%}
                                        They had a child with {{ coParentLabels }}.
                                    {%- pluralize -%}
                                        They had {{ childCount }} children with {{ coParentLabels }}.
                                    {%- endtrans -%}
                                {%- endif -%}
                            {%- else -%}
                                {%- if person.name and person.name.individual -%}
                                    {%- trans childCount = perParentChildren | length, personIndividualName = person.name.individual -%}
                                        {{ personIndividualName }} had a child.
                                    {%- pluralize -%}
                                        {{ personIndividualName }} had {{ childCount }} children.
                                    {%- endtrans -%}
                                {%- else -%}
                                    {%- trans childCount = perParentChildren | length -%}
                                        They had a child.
                                    {%- pluralize -%}
                                        They had {{ childCount }} children.
                                    {%- endtrans -%}
                                {%- endif -%}
                            {%- endif -%}
                        </p>
                    </div>
                </div>
                {% with persons=perParentChildren, typeOf='foaf:Person', property='rel:parentOf' %}
                    <div class="family-breakdown">
                        {% include 'list-person.html.j2' %}
                    </div>
                {% endwith %}
            </div>
        {% endfor %}
    {% endif %}

    {% if has_family %}
        </section>
    {% endif %}

    <div class="featured js-show">
        <div class="tree" data-betty-person-id="{{ person.id }}" data-betty-people="{{ 'people.json' | url }}"></div>
    </div>

    {% set events = person.presences | map(attribute='event') | rejectattr('date', 'none') | selectattr('date.comparable') | list %}
    {% if person.start or person.end %}
        {% set associated_people = [
            person.parents | map(attribute='parents') | flatten,
            person.parents,
            person.parents | map(attribute='children') | flatten,
            person.children | map(attribute='parents') | flatten,
            person.children,
            person.children | map(attribute='children') | flatten,
        ] | flatten | list %}
        {% set associated_events = [
            associated_people | map(attribute='start'),
            associated_people | map(attribute='end'),
        ] | flatten | reject('none') | rejectattr('date', 'none') | selectattr('date.comparable') | list %}
            {% if person.start is not none and person.start.date is not none and person.start.date.comparable %}
                {% set associated_events = associated_events | rejectattr('date', 'lt', person.start.date) %}
            {% endif %}
            {% if person.end is not none and person.end.date is not none and person.end.date.comparable %}
                {% set associated_events = associated_events | rejectattr('date', 'gt', person.end.date) %}
            {% endif %}
            {% set events = (events + (associated_events | list)) | unique | list %}
    {% endif %}
    {% if events | length > 0 %}
        <section id="timeline">
            <h2>
                {% trans %}Timeline{% endtrans %}
                {% with url = page_resource | url ~ '#timeline'%}
                    {% include 'permalink.html.j2' %}
                {% endwith %}
            </h2>
            {% with person_context=person %}
                {% include 'list-event.html.j2' %}
            {% endwith %}
        </section>
    {% endif %}

    {% set files = person.associated_files | list %}
    {% if files | length > 0 %}
        <section id="media">
            <h2>
                {% trans %}Media{% endtrans %}
                {% with url = page_resource | url ~ '#media'%}
                    {% include 'permalink.html.j2' %}
                {% endwith %}
            </h2>
            {% include 'list-file.html.j2' %}
        </section>
    {% endif %}
{% endblock %}