[run]
concurrency =
    multiprocessing
    thread
omit =
    betty/_package/**
    betty/_resizeimage.py
    betty/tests/**
parallel = True
source = betty

[report]
exclude_also =
    ^\s*pragma: no cover$
    ^\s*def __repr__
    ^\s*raise NotImplementedError
    if TYPE_CHECKING:
omit =
    betty/_package/**
    betty/_resizeimage.py
    betty/tests/**
show_missing = True
skip_covered = True
skip_empty = True
