[run]
omit =
    betty/commands/dev_profile_demo.py
    betty/sphinx/extension/betty.py
branch = True
concurrency =
    multiprocessing
    thread
parallel = True
source = betty

[report]
omit =
    betty/commands/dev_profile_demo.py
    betty/sphinx/extension/betty.py
exclude_also =
    ^\s*pragma: no cover$
    ^\s*def __repr__
    if TYPE_CHECKING:
    @abstractmethod
    @overload
    raise NotImplementedError
show_missing = True
skip_covered = True
skip_empty = True
