# Virtual environments.
/.tox
/venv

# JavaScript development dependencies.
/node_modules
/package-lock.json

# Python build artifacts.
__pycache__
/betty.egg-info
/build
/dist
/prebuild
*.pyc
*.pyc.*

# PyInstaller build artifacts.

# Test artifacts.
/.coverage
/.coverage.*
/playwright/.cache/
/playwright/results/
/playwright/report/
