# JavaScript development dependencies.
/node_modules
/package-lock.json

# Python bytecode
__pycache__
*.pyc
*.pyc.*

# Setuptools build artifacts.
/betty.egg-info
/build
/dist

# Test artifacts.
/.coverage
/.coverage.*
/playwright/.cache/
/playwright/results/
/playwright/report/
