# Virtual environments.
/.tox
/venv

# JavaScript development dependencies.
/node_modules
/package-lock.json

# Python build artifacts.
/betty.egg-info
/build
/dist
*.pyc

# PyInstaller build artifacts.

# Test artifacts.
/.coverage
/cypress/screenshots
/cypress/app
