language: python

matrix:
    include:
        - name: 'Latest: Linux, Python 3.8 & Node.js 13'
          dist: xenial
          python: '3.8'
          env:
              - NODE_VERSION=13
        - name: 'Python 3.7'
          dist: xenial
          python: '3.7'
          env:
              - NODE_VERSION=13
        - name: 'Python 3.6'
          dist: xenial
          python: '3.6'
          env:
              - NODE_VERSION=13
        - name: 'Node.js 12'
          dist: xenial
          python: '3.8'
          env:
              - NODE_VERSION=12
        - name: 'Node.js 10'
          dist: xenial
          python: '3.8'
          env:
              - NODE_VERSION=10
        - name: 'Mac OS'
          dist: osx
          python: '3.8'
          env:
              - NODE_VERSION=13

cache:
    pip: true
    npm: true
    directories:
      - /home/travis/.betty/betty.plugin.maps.Maps
      - /home/travis/.betty/betty.plugin.trees.Trees

before_install:
    - nvm install "$NODE_VERSION"

install:
    - ./bin/build-dev

script:
    - ./bin/test

after_success:
    - codecov
