[build-system]
requires = [
    'setuptools ~= 69.0',
]
build-backend = 'setuptools.build_meta'

[project]
dynamic = [
    'version',
]
name = 'betty'
description = 'Betty helps you visualize and publish your family history by building interactive genealogy websites out of your Gramps and GECOM family trees'
readme = 'README.md'
license = {file = 'LICENSE.txt'}
authors = [
  {name = 'Bart Feenstra', email = 'bar@bartfeenstra.com'},
]
requires-python = '~= 3.11'
dependencies = [
    'aiofiles ~= 23.2, >= 23.2.1',
    'aiohttp ~= 3.9',
    'babel ~= 2.12, >= 2.12.0',
    'click ~= 8.1, >= 8.1.2',
    'docker ~= 7.0, >= 7.0.0',
    'geopy ~= 2.3, >= 2.3.0',
    'jinja2 ~= 3.1, >= 3.1.1',
    'jsonschema ~= 4.17, >= 4.17.0',
    'langcodes ~= 3.3, >= 3.3.0',
    'markupsafe ~= 2.1, >= 2.1.1',
    'pdf2image ~= 1.16, >= 1.16.0',
    'polib ~= 1.2, >= 1.2.0',
    'Pillow ~= 10.1, >= 10.1.0',
    'PyQt6 ~= 6.5, >= 6.5.0',
    'pyyaml ~= 6.0, >= 6.0.0',
    'referencing ~= 0.34.0',
    'sphinx ~= 7.2.6',
    'sphinx-design ~= 0.5.0',
    'sphinx-immaterial ~= 0.11.10',
    'sphinx-autodoc-typehints ~= 2.0.0',
    'typing_extensions ~= 4.10.0',
]
classifiers = [
    'Environment :: Console',
    'Environment :: X11 Applications :: Qt',
    'Intended Audience :: Developers',
    'Intended Audience :: End Users/Desktop',
    'Intended Audience :: Science/Research',
    'License :: OSI Approved :: GNU General Public License v3 (GPLv3)',
    'Programming Language :: JavaScript',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Programming Language :: Lua',
    'Programming Language :: JavaScript',
    'Programming Language :: Unix Shell',
    'Operating System :: MacOS :: MacOS X',
    'Operating System :: POSIX :: Linux',
    'Operating System :: Microsoft :: Windows',
    'Topic :: Internet',
    'Topic :: Scientific/Engineering :: Visualization',
    'Topic :: Sociology :: Genealogy',
    'Topic :: Sociology :: History',
    'Topic :: Software Development :: Code Generators',
    'Natural Language :: Dutch',
    'Natural Language :: English',
    'Natural Language :: French',
    'Natural Language :: German',
    'Natural Language :: Ukrainian',
    'Typing :: Typed ',
]

[project.urls]
Documentation = 'https://betty.readthedocs.io'
Github = 'https://github.com/bartfeenstra/betty'
Twitter = 'https://twitter.com/BettyProject'
X = 'https://twitter.com/BettyProject'

[project.entry-points.'console_scripts']
betty = 'betty.cli:main'

[project.entry-points.'betty.extensions']
'betty.extension.CottonCandy' = 'betty.extension.CottonCandy'
'betty.extension.Demo' = 'betty.extension.Demo'
'betty.extension.Deriver' = 'betty.extension.Deriver'
'betty.extension.Gramps' = 'betty.extension.Gramps'
'betty.extension.Maps' = 'betty.extension.Maps'
'betty.extension.Privatizer' = 'betty.extension.Privatizer'
'betty.extension.HttpApiDoc' = 'betty.extension.HttpApiDoc'
'betty.extension.Trees' = 'betty.extension.Trees'
'betty.extension.Wikipedia' = 'betty.extension.Wikipedia'

[project.optional-dependencies]
pyinstaller = [
    'pyinstaller ~= 6.1, >= 6.1.0',
]
setuptools = [
    'setuptools ~= 69.0',
    'twine ~= 5.0',
    'wheel ~= 0.40, >= 0.40.0',
]
test = [
    'aioresponses ~= 0.7, >= 0.7.6',
    'autopep8 ~= 2.0, >= 2.0.2',
    'basedmypy ~= 2.0, >= 2.2.1',
    'coverage ~= 7.2, >= 7.2.4',
    'flake8 ~= 7.0',
    'html5lib ~= 1.1',
    'lxml ~= 5.0; sys.platform != "win32"',
    'pip-licenses ~= 4.3, >= 4.3.0',
    'pydocstyle ~= 6.3, >= 6.3.0',
    'pytest ~= 7.3, >= 7.3.1',
    'pytest-aioresponses ~= 0.2, >= 0.2.0 ',
    'pytest-asyncio ~= 0.23, >= 0.23.4 ',
    'pytest-cov ~= 5.0',
    'pytest-mock ~= 3.10, >= 3.10.0',
    'pytest-qt ~= 4.2, >= 4.2.0',
    'pytest-xvfb ~= 3.0, >= 3.0.0',
    'types-aiofiles ~= 23.2, >= 23.2.0.20240403 ',
    'types-babel ~= 2.11, >= 2.11.0.15',
    'types-click ~= 7.1, >= 7.1.8',
    'types-html5lib ~= 1.1, >= 1.1.11.20240228',
    'types-jsonschema ~= 4.21, >= 4.21.0.20240331',
    'types-lxml >= 2024.3.27 ',
    'types-mock ~= 5.0, >= 5.0.0.6',
    'types-polib ~= 1.2, >= 1.2.0.0',
    'types-pyinstaller ~= 6.5, >= 6.5.0.20240311',
    'types-pyyaml ~= 6.0, >= 6.0.6',
    'types-requests ~= 2.29, >= 2.29.0.0',
    'types-setuptools ~= 69.0',
    'betty[pyinstaller]',
    'betty[setuptools]',
]
development = [
    'pytest-repeat ~= 0.9, >= 0.9.1',
    'betty[test]',
]
ci = [
    'codecov ~= 2.1, >= 2.1.12',
    'betty[test]',
]

[tool.setuptools.dynamic]
version = {file = ['betty/assets/VERSION']}

[tool.setuptools.packages.find]
where = ['.']
exclude = [
    'betty.tests',
    'betty.tests.*',
]

[tool.setuptools.package-data]
betty = [
    'py.typed',
    'assets/**',
    'extension/*/assets/**',
]

[tool.setuptools.exclude-package-data]
betty = [
    '__pycache__',
]
