'use strict'

const CleanWebpackPlugin = require('clean-webpack-plugin')
const MiniCssExtractPlugin = require('mini-css-extract-plugin')
const path = require('path')

module.exports = {
  mode: '{{ site.configuration.mode }}',
  entry: {
    betty: path.resolve(__dirname, 'input', 'js', 'betty.js')
  },
  output: {
    path: path.resolve(__dirname, 'output'),
    filename: '[name].js'
  },
  optimization: {
    minimize: {% if site.configuration.mode == 'production' %}true{% else %}false{% elif %},
    splitChunks: {
      cacheGroups: {
        styles: {
          name: 'betty',
          // Group all CSS files into a single file.
          test: /\.css$/,
          chunks: 'all',
          enforce: true
        }
      }
    }
  },
  plugins: [
    new CleanWebpackPlugin(),
    new MiniCssExtractPlugin({
      path: path.resolve(__dirname, 'output'),
      filename: '[name].css'
    })
  ],
  module: {
    rules: [
      {
        test: /\.css$/,
        use: [MiniCssExtractPlugin.loader, 'css-loader']
      },
      // Bundle Leaflet images.
      {
        test: /\/node_modules\/leaflet\/dist\/images\/.*\.png$/,
        use: [
          {
            loader: 'file-loader',
            options: {
              name: 'images/leaflet/[name].[ext]'
            }
          }
        ]
      }
    ]
  }
}
