'use strict'

const configuration = {
    baseUrl: {{ site.configuration.base_url | json }},
    rootPath: {{ site.configuration.root_path| json }},
    cleanUrls: {{ site.configuration.clean_urls | json }},
}

export default configuration
