server {
	# The port to listen to.
	listen 80;
	# The publicly visible hostname.
	server_name {{ urlparse(site.configuration.base_url)['netloc'] }};
	# The path to the local web root.
	root {{ site.configuration.www_directory_path }};
	# The cache lifetime.
	add_header Cache-Control "max-age=86400";
    {%- if site.configuration.multilingual %}
        location ~ ^/({{ site.configuration.locales.values() | map(attribute='alias') | join('|') }})(/|$) {
            # Handle HTTP error responses.
            set $locale $1;
            error_page 401 /$locale/.error/401.html;
            error_page 403 /$locale/.error/403.html;
            error_page 404 /$locale/.error/404.html;
            location ~ ^/$locale/\.error {
                internal;
            }

            index index.html;
            try_files $uri $uri/ =404;
        }
        location @localized_redirect {
            return 301 /{{ site.configuration.locales[site.configuration.default_locale].alias }}$uri;
        }
        location / {
            try_files $uri @localized_redirect;
        }
    {%- else %}
        location / {
            # Handle HTTP error responses.
            error_page 401 /.error/401.html;
            error_page 403 /.error/403.html;
            error_page 404 /.error/404.html;
            location /.error {
                internal;
            }

            index index.html;
            try_files $uri $uri/ =404;
        }
    {%- endif %}
}
