{% with attributes = attributes | default(new_attributes()) %}
    {% do attributes.html_class.append('button-language') %}
    {% set button_label = _('Language') %}
    {% include 'component/button-icon.html.j2' %}
{% endwith %}
