{% with attributes = attributes | default(new_attributes()) %}
    {% do attributes.html_class.append('button-zoom-in') %}
    {% set button_label = _('Zoom in') %}
    {% include 'component/button-icon.html.j2' %}
{% endwith %}
