{% if columns_content | reject('none') | list %}
    <div class="container">
        <div class="row{% if columns_justify_content is not none %} justify-content-{{ columns_justify_content }}{% endif %}">
            {% for column_content in columns_content %}
                {% if column_content %}
                    {% set column_index = loop.index0 %}
                    <div class="col{% for breakpoint in columns_width %} col-{% if breakpoint != "xs" %}{{ breakpoint }}-{% endif %}{{ columns_width[breakpoint][column_index] }}{% endfor %}">
                        {{ column_content }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
