{% set links = links | selectattr('public') | list %}
{% if links | length %}
    <ul>
        {% for link in links %}
            {% set localized_link_url = link.url | localize %}
            {% set generated_link_url = localized_link_url | url %}
            <li>
                <a href="{{ generated_link_url }}"{% if localized_link_url.locale is not none %}
                   hreflang="{{ localized_link_url.locale | to_language_tag }}"{% endif %}
                        {% if link.relationship is not none %} rel="{{ link.relationship }}"{% endif %}
                        {% if link.media_type is not none %}
                   type="{{ link.media_type }}"{% endif %}>{{ link.label or generated_link_url }}</a>
                {% if link.description %}
                    <p class="small">{{ link.description }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
