{% set ns = namespace(people = []) %}
{% for presence in presences | selectattr('privacy.publishable') %}
    {% set ns.people = ns.people + [presence.person] %}
{% endfor %}
{% if ns.people | length > 0 %}
    {% with entities = ns.people %}
        {% include ['entity/list--person.html.j2', 'entity/list.html.j2'] %}
    {% endwith %}
{% endif %}
