{% do 'http-api-doc' | webpack_entry_point_js %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{% trans %}API documentation{% endtrans %} - {{ project.configuration.title | localize }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="swagger-ui" data-betty-openapi-url="{{ 'betty-static:///api/index.json' | url }}"></div>
{% include 'webpack-entry-loader.html.j2' %}
{% include 'stylesheets.html.j2' %}
{% include 'scripts.html.j2' %}
</body>
</html>
