{% if resource.breadcrumbs %}
    <nav aria-label="{% trans %}Breadcrumbs{% endtrans %}">
        <ol class="breadcrumbs mb-3 small">
            <li class="breadcrumb">
                <a href="{{ 'betty:///'| url }}">{% trans %}Home{% endtrans %}</a>
            </li>
            {% for breadcrumb in resource.breadcrumbs %}
                <li class="breadcrumb{% if loop.last %} visually-hidden{% endif %}"{% if loop.last %} aria-current="page"{% endif %}>
                    {% if breadcrumb.resource_url %}
                        <a href="{{ breadcrumb.resource_url | url }}"{% if loop.last %} tabindex="-1"{% endif %}>{{ breadcrumb.label }}</a>
                    {% else %}
                        <span>{{ breadcrumb.label }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endif %}
