{% with attributes = attributes | default(new_attributes()) %}
    {% do attributes.html_class.append('button-close') %}
    {% do attributes.html_class.append('button-icon') %}
    {% set button_label = _('Close') %}
    {% include 'component/button.html.j2' %}
{% endwith %}
