<button type="button" class="btn btn-primary btn-full-screen btn-icon {% if html_class is defined %} {{ html_class | join(' ') }}{% endif %}" data-betty-full-screen-target="{{ target }}">{% trans %}Toggle full screen{% endtrans %}</button>
