{% set attributes = attributes | default(new_attributes()) %}
{% do attributes.set(html_type='button') %}
{% do attributes.html_class.append('btn') %}
{% do attributes.html_class.append('btn-secondary' if button_secondary | default(false) else 'btn-primary') %}
<button {{ attributes }}>{{ button_label }}</button>
