<fieldset>
    <legend{% if checkboxes_label_visually_hidden %} class="visually-hidden"{% endif %}>{{ checkboxes_label }}</legend>
    {% for checkbox in checkboxes %}
        {% with checkbox_checked = checkbox['checked'],
            checkbox_label = checkbox['label'],
            checkbox_value = checkbox['value'],
            html_class = checkbox['class'],
            html_id = checkbox['id']
        %}
            {% include 'component/checkbox.html.j2' %}
        {% endwith %}
    {% endfor %}
</fieldset>