{% set section_content %}
    {% with content_provider_configurations = section_content_configurations %}
        {% include 'component/content.html.j2' %}
    {% endwith %}
{% endset %}
{% include 'component/section.html.j2' %}
