{% if section_content %}
    <div class="container my-5">
        <div class="row">
            <div class="col col-12">
                <section{% if section_name %} id="{{ section_name }}"{% endif %} class="section">
                    <h2 class="section-heading">
                        {{ section_heading | localize }}
                        {% if section_name %}
                            {% with url = page_resource | url(fragment=section_name) %}
                                {% include 'component/permalink.html.j2' %}
                            {% endwith %}
                        {% endif %}
                    </h2>
                    {{ section_content }}
                </section>
            </div>
        </div>
    </div>
{% endif %}
