{{- citer.track() or '' -}}
{%- import 'macro/citation.html.j2' as citationMacros -%}
<!doctype html>
<html lang="{{ [locale.language, locale.script, locale.territory] | reject('none') | join('-') }}"
      prefix="foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rel: http://purl.org/vocab/relationship/">
<head>
    <title>{{ title | striptags }} - {{ site.configuration.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Betty (https://github.com/bartfeenstra/betty)"/>
    <meta name="og:title" content="{{ title | striptags }}"/>
    <meta name="og:site_name" content="{{ site.configuration.title }}"/>
    <meta name="og:image" content="/betty-512x512.png"/>
    <link rel="stylesheet" href="{{ '/betty.css' | url }}"/>
    <link rel="icon" href="{{ '/betty.ico' | url }}">
    <link rel="manifest" href="{{ '/betty.webmanifest' | url }}">
    {%- if 'betty.plugins.js.Js' in plugins %}
    <style id="js-visibility">
        .js-show {
            display: none;
        }
    </style>
    <script>
        document.getElementById('js-visibility').innerHTML = '.js-hide{display:none;}'
    </script>
    {% endif -%}
</head>
<body>
<nav id="nav-primary">
    <a id="site-title" href="{{ '/' | url }}" title="{{ site.configuration.title }}">{{ site.configuration.title }}</a>
    {%- if 'betty.plugins.search.Search' in plugins %}
        <form id="search" autocomplete="off">
            <input id="search-query" type="search"/>
        </form>
    {% endif -%}
    <a id="nav-primary-show" class="nav-primary-toggle" href="#nav-primary">Menu</a>
    <a id="nav-primary-hide" class="nav-primary-toggle" href="#">×</a>
    <ul class="nav-expanded">
        <li><a href="{{ '/person/' | url }}">{{ _('People') }}</a></li>
        <li><a href="{{ '/event/' | url }}">{{ _('Events') }}</a></li>
        <li><a href="{{ '/place/' | url }}">{{ _('Places') }}</a></li>
        <li><a href="{{ '/file/' | url }}">{{ _('Media') }}</a></li>
        <li><a href="{{ '/source/' | url }}">{{ _('Sources') }}</a></li>
    </ul>
</nav>
<div id="content">
    <h1>{{ title }}</h1>
    {%- block content -%}{%- endblock -%}
    {% if citer | length > 0 %}
        <section class="references">
            <h2>{{ _('References') }}</h2>
            <ol>
            {% for number, citation in citer %}
                <li id="reference-{{ number }}">{{ citationMacros.referenceLabel(citation) }}</li>
            {% endfor %}
            </ol>
        </section>
    {% endif %}
</div>
<footer><p>{{ _('A family history as told by <a href="https://github.com/bartfeenstra/betty">Betty</a>') }}</p></footer>
{%- if 'betty.plugins.js.Js' in plugins %}
    <script src="{{ '/betty.js' | url }}"></script>
{% endif -%}
</body>
</html>
