{% extends 'base.html.j2' %}
{%- import 'macro/citation.html.j2' as citationMacros -%}
{%- import 'macro/claim.html.j2' as claimMacros -%}
{% set title = citation.location %}
{% block content %}
    <div class="meta">
    {{ citationMacros.label(citation, citation) }}
    </div>
    {% set files = citation.files %}
    {% if files | length > 0 %}
        <h2>{{ _('Media') }}</h2>
        {% include 'list-file.html.j2' %}
    {% endif %}
    {% set claims = citation.claims | select('is_entity') | list %}
    {% if claims | length > 0 %}
        <h2>{{ _('References') }}</h2>
        <ul class="entities">
            {% for claim in claims %}
                <li class="{{ loop.cycle('odd', 'even') }}">
                    <a href="{{ claim | url }}">{{ claimMacros.label(claim) }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}