{% extends 'page/base.html.j2' %}
{% import 'macro/event.html.j2' as eventMacros %}
{% set title = eventMacros.label(event) | striptags %}
{% block content %}
    {% include 'event-meta.html.j2' %}

    {% if event.place %}
        {% with places=[event.place] %}
            {% include 'list-place.html.j2' %}
        {% endwith %}
    {% endif %}

    {% if event.files | length > 0 %}
        <h2>Media</h2>
        {% with files=event.files %}
            {% include 'list-file.html.j2' %}
        {% endwith %}
    {% endif %}
{% endblock %}