{% extends 'base.html.j2' %}
{% import 'macro/event.html.j2' as eventMacros %}
{% import 'macro/person.html.j2' as personMacros %}
{% set title = eventMacros.label(event) | striptags %}
{% block content %}
    {% include 'event-meta.html.j2' %}

    {% if event.place %}
        {% with places=[event.place] %}
            {% include 'list-place.html.j2' %}
        {% endwith %}
    {% endif %}

    {% set ns = namespace(witnesses=[]) %}
    {% for presence in event.presences %}
        {% if PresenceRole.WITNESS == presence.role %}
            {% set ns.witnesses = ns.witnesses + [presence.person] %}
        {% endif %}
    {% endfor %}
    {% if ns.witnesses | length > 0 %}
        <h2>{{ _('Witnesses') }}</h2>
        <ul>
            {% for witness in ns.witnesses %}
                <li typeof="foaf:Person" property="rel:knowsOf">{{ personMacros.label(witness) }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% set ns = namespace(attendees=[]) %}
    {% for presence in event.presences %}
        {% if presence.role not in [PresenceRole.SUBJECT, PresenceRole.WITNESS] %}
            {% set ns.attendees = ns.attendees + [presence.person] %}
        {% endif %}
    {% endfor %}
    {% if ns.attendees | length > 0 %}
        <h2>{{ _('Other attendees') }}</h2>
        <ul>
            {% for attendee in ns.attendees %}
                <li typeof="foaf:Person" property="rel:knowsOf">{{ personMacros.label(attendee) }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if event.files | length > 0 %}
        <h2>{{ _('Media') }}</h2>
        {% with files=event.files %}
            {% include 'list-file.html.j2' %}
        {% endwith %}
    {% endif %}
{% endblock %}