{% extends 'page/base.html.j2' %}
{% set title = file.description %}
{% block content %}
    {% if file.type.startswith('image/') %}
        <a href="{{ file | file | file_url }}">
            <img src="{{ file | image(300, 300) | file_url }}" alt="{{ file.description }}"/>
        </a>
    {% endif %}
    {% if file.notes %}
        <h2>Notes</h2>
        {% for note in file.notes %}
            {{ note.text | paragraphs }}
        {% endfor %}
    {% endif %}
{% endblock %}