{% extends 'base.html.j2' %}
{% set title = file.description %}
{% block content %}
    {% if file.type.startswith('image/') %}
        <div class="featured image">
            <a href="{{ file | file | url }}">
                <img src="{{ file | image(1200, 1200) | url }}" alt="{{ file.description }}"/>
            </a>
        </div>
    {% endif %}
    {% if file.notes %}
        <h2>{{ _('Notes') }}</h2>
        {% for note in file.notes %}
            {{ note.text | paragraphs }}
        {% endfor %}
    {% endif %}
{% endblock %}