{% extends 'page/base.html.j2' %}
{% set title = 'People' %}
{% block content %}
    {% import 'macro/person.html.j2' as personMacros %}
    <ul class="entities">
        {% for person in entities | sort(attribute='names') %}
            <li class="{{ loop.cycle('odd', 'even') }}">
                {{ personMacros.label(person) }}
                {% include 'person-meta.html.j2' %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
