{% extends 'page/base.html.j2' %}
{% set title = 'People' %}
{% block content %}
    {% if entities %}
        <ul class="entities">
            {% for person in entities | sort(attribute='label') %}
                <li class="{{ loop.cycle('odd', 'even') }}">
                    <a href="/person/{{ person.id }}">{{ person.label }}</a>
                    {% include 'person-meta.html.j2' %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
