{% extends 'base.html.j2' %}
{% set page_title = _('Places') %}
{% block page_content %}
    {% with places=entities, canonical=True %}
        {% include 'list-place.html.j2' %}
    {% endwith %}
{% endblock %}
s