{% extends 'page/base.html.j2' %}
{% import 'macro/person.html.j2' as personMacros %}
{% set title = personMacros.label(person, False) %}
{% block content %}
    {% include 'person-meta.html.j2' %}

    {% set places = person.events | map(attribute='place') | reject('equalto', None) | unique | list %}
    {% if places | length > 0 %}
        {% with places=places %}
            {% include 'list-place.html.j2' %}
        {% endwith %}
    {% endif %}

    {% set parents = person.parents | list %}
    {% if parents | length > 0 %}
        <h2>Parents</h2>
        <ul>
            {% for parent in parents %}
                <li typeof="foaf:Person" property="rel:childOf">{{ personMacros.label(parent) }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% set children = person.children | list %}
    {% if children | length > 0 %}
        <h2>Children</h2>
        <ul>
            {% for child in children %}
                <li typeof="foaf:Person" property="rel:parentOf">{{ personMacros.label(child) }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% set siblings = person.siblings | list %}
    {% if siblings | length > 0 %}
        <h2>Siblings</h2>
        <ul>
            {% for sibling in siblings %}
                <li typeof="foaf:Person" property="rel:siblingOf">{{ personMacros.label(sibling) }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if person.events | rejectattr('date', 'none') | selectattr('date.complete') | list | length > 0 %}
        <h2>Events</h2>
        {% with events=person.events, person_context=person %}
            {% include 'list-event.html.j2' %}
        {% endwith %}
    {% endif %}

    {% set files = person.files | list + person.events | map(attribute="files") | flatten | unique | list %}
    {% if files | length > 0 %}
        <h2>Media</h2>
        {% include 'list-file.html.j2' %}
    {% endif %}
{% endblock %}