{% extends 'page/base.html.j2' %}
{% set title = person.label %}
{% block content %}
    {% include 'person-meta.html.j2' %}

    <h2>Parents</h2>
    {% if person.parents %}
        <ul>
            {% for parent in person.parents %}
                <li><a href="/person/{{ parent.id }}">{{ parent.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Unknown.</p>
    {% endif %}

    <h2>Children</h2>
    {% if person.children %}
        <ul>
            {% for child in person.children %}
                <li><a href="/person/{{ child.id }}">{{ child.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Unknown.</p>
    {% endif %}

    <h2>Siblings</h2>
    {% if person.siblings %}
        <ul>
            {% for sibling in person.siblings %}
                <li><a href="/person/{{ sibling.id }}">{{ sibling.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Unknown.</p>
    {% endif %}

    {% set documents = person.documents | list + person.events | map(attribute="documents") | flatten | unique | list %}
    {% if documents %}
        {% for document in documents %}
            {% include 'document.html.j2' %}
        {% endfor %}
    {% endif %}
{% endblock %}