{% extends 'page/base.html.j2' %}
{% set title = place.name %}
{% block content %}
    {% include 'place-meta.html.j2' %}
    {% if place.coordinates %}
        <p>
        <address title="{{ place.coordinates.latitude }}°, {{ place.coordinates.longitude }}°"
                 class="tooltip">{{ place.coordinates.latitude | format_degrees }}, {{ place.coordinates.longitude | format_degrees }}</address>
        </p>
    {% endif %}

    {% set place_ids = place | walk('encloses') | map(attribute='id') %}
    {% if place.coordinates %}
        {% set place_ids = place_ids | list + [place.id] %}
    {% endif %}
    {% if place_ids is defined %}
        <div class="map" id="map-{{ place.id }}" data-place-ids="{{ place_ids | join(',') }}"></div>
    {% endif %}

    {% set events = place.events | list + place | walk('encloses') | map(attribute="events") | flatten | list %}
    {% if events | rejectattr('date', 'none') | selectattr('date.complete') | list | length > 0 %}
        <h2>Events</h2>
        {% with events=events, place_context=place %}
            {% include 'list-event.html.j2' %}
        {% endwith %}
    {% endif %}
{% endblock %}