{% extends 'page/base.html.j2' %}
{% set title = place.name %}
{% block content %}
    {% include 'place-meta.html.j2' %}

    {% set places = place | walk('encloses') | list %}
    {% if place.coordinates %}
        {% set places = places + [place] %}
    {% endif %}
    {% if places | length > 0 %}
        {% include 'list-place.html.j2' %}
    {% endif %}

    {% set events = place.events | list + place | walk('encloses') | map(attribute="events") | flatten | list %}
    {% if events | rejectattr('date', 'none') | rejectattr('date.year', 'none') | rejectattr('date.month', 'none') | rejectattr('date.day', 'none') | list | length > 0 %}
        <h2>Events</h2>
        {% with events=events, place_context=place %}
            {% include 'list-event.html.j2' %}
        {% endwith %}
    {% endif %}
{% endblock %}