{% extends 'page/base.html.j2' %}
{% import 'macro/reference.html.j2' as referenceMacros %}
{% set title = reference.name %}
{% block content %}
    {% include 'reference-meta.html.j2' %}
    {% set files = reference | walk('contains') | list | map(attribute="files") | flatten | unique | list %}
    {% if files | length > 0 %}
        <h2>Media</h2>
        {% include 'list-file.html.j2' %}
    {% endif %}
{% endblock %}