{% extends 'page/base.html.j2' %}
{% import 'macro/reference.html.j2' as referenceMacros %}
{% set title = reference.name %}
{% block content %}
    {% include 'reference-meta.html.j2' %}
    {% if reference.files | length > 0 %}
        <h2>Media</h2>
        {% with files=reference.files %}
            {% include 'list-file.html.j2' %}
        {% endwith %}
    {% endif %}
{% endblock %}