{% extends 'base.html.j2' %}
{% set title = source.name %}
{% block content %}
    {% include 'source-meta.html.j2' %}
    {% set sources = [source] + source | walk('contains') | list %}
    {% set haveFiles = sources %}
    {% set haveFiles = haveFiles + sources | map(attribute='citations') | flatten | list %}
    {% set files = haveFiles | map(attribute='files') | flatten | unique | list %}
    {% if files | length > 0 %}
        <h2>{{ _('Media') }}</h2>
        {% include 'list-file.html.j2' %}
    {% endif %}
{% endblock %}