'use strict'

import style from './betty.css'

{% for entry_point_alias, import_path in plugins['betty.plugins.js.Js'].entry_points %}
    import { betty as {{ entry_point_alias }} } from "betty-{{ import_path }}"
    document.addEventListener('DOMContentLoaded', {{ entry_point_alias }})
{% endfor %}
