{% if document.resource is entity_plugin('place') %}
    {% set enclosees = document.resource.walk_enclosees | map(attribute='enclosee') | select('entity_plugin', 'place') | select('public') | list %}
    {% if enclosees %}
        {% with entities = enclosees %}
            {% set accordion_item_body %}
                {% with entities = enclosees %}
                    {% include 'entity/list.html.j2' %}
                {% endwith %}
            {% endset %}
            {% with accordion_heading_element = 'h2',
                attributes = new_attributes(html_id='enclosees'),
                accordion_items = [{
                   'header': _('Other places contained by this one'),
                   'body': accordion_item_body,
                }]
            %}
                {% include 'component/accordion.html.j2' %}
            {% endwith %}
        {% endwith %}
    {% endif %}
{% endif %}
