<!doctype html>
<html>
<head>
    <title>{{ project.title }}</title>
    <meta http-equiv="refresh" content="0; url={{ 'betty:///index.html' | url(locale=project.default_locale.locale) }}">
</head>
<body>
</body>
</html>
