{{ wikipedia_summary.content | safe }}
<p>{% trans url = wikipedia_summary.url %}Continue reading on <a href="{{ url }}">Wikipedia</a>.{% endtrans %}</p>
<small>
    {{ tag('a', wikipedia_summary_copyright_notice.summary, html_href = wikipedia_summary_copyright_notice.url) }}
</small>
