$primary: {{ project.extensions['raspberry-mint'].configuration.primary_color }};
$secondary: {{ project.extensions['raspberry-mint'].configuration.secondary_color }};
$tertiary: {{ project.extensions['raspberry-mint'].configuration.tertiary_color }};
