@import 'betty-variables';

html {
  height: 100%;
}

body {
  background-color: #fff;
  color: #333;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  min-width: 300px;
}

/*
 * Text and links.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  margin-bottom: 0;
}

h1 {
  font-weight: normal;
  font-size: 1.6rem;
}

h2 {
  font-weight: normal;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #149988;
}

a:hover {
  color: #2a615a;
}

dl,
p,
li {
  line-height: 1.5;
}

address {
  display: inline;
  font-style: normal;
}

.tooltip {
  cursor: help;
  text-decoration: dotted underline;
}

.citation {
  font-size: 0.8rem;
  vertical-align: super;
}

.references {
  font-size: 0.9rem;
}

.reference {
  padding: 0.3rem;
}

.reference:target {
  background-color: #eee;
}

.citation-author::after {
  content: ". ";
}

.citation-title {
  font-style: italic;
}

.citation-title::before {
  content: "\"";
}

.citation-title::after {
  content: "\". ";
}

.citation-publisher::after {
  content: ", ";
}

.citation-location::after {
  content: ". ";
}

.citation-date::after {
  content: ". ";
}

/*
 * Entity lists.
 */
.entities {
  padding: 0;
}

.entities li {
  list-style: none;
  margin-top: 0.5em;
  padding: 0.5em;
}

.entities li.even {
  background-color: #f7f7f7;
}

/*
 * Footer.
 */

footer {
  background-color: #eee;
  color: #777;
  padding: 3rem 1rem;
}

/*
 * Main content.
 */

#content {
  background-color: white;
  clear: both;
  padding: 0 1rem 3rem 1rem;
  display: inline-block;
  width: calc(100% - 2rem);
}

.featured {
  background-color: #eee;
  margin: 0 -1rem;
  width: calc(100% + 2rem);
}

/*
 * Entity metadata.
 */

.meta dt {
  font-weight: bold;
}

@media (min-width: 768px) {
  .meta dl {
    margin: 0;
  }

  .meta dt,
  .meta dd {
    display: inline;
  }

  .meta dt::after {
    content: ':';
  }

  .meta dd {
    margin: 0 3em 0 0;
  }
}

/**
 * People.
 */
.private {
  cursor: help;
  text-decoration: dotted underline;
}

.aka {
  color: #777;
  font-size: 0.9rem;
}

.aka .person-label {
  font-style: italic;
}

/*
 * Media.
 */
.files {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

.file {
  display: inline-block;
  vertical-align: top;
}

.file-summary {
  display: block;
  width: 100%;
}

.file-extended {
  display: none;
}

.file-extended:target {
  background-color: #000;
  display: initial;
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99999;
}

figure {
  margin: 0;
}

figcaption {
  padding: 0.5rem;
}

.file-controls {
  border: 0;
  display: block !important;
  height: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.file-controls li {
  display: inline-block;
}

.file-previous {
  float: left;
}

.file-next {
  float: right;
}

.file-controls li a {
  color: #ccc;
  float: right;
  font-size: 1.1rem;
  line-height: 3rem;
  padding: 0 0.5rem;
}

.file-controls li a:hover {
  color: #fff;
}

.file img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.file-extended:target img {
  display: block;
  margin: auto;
  max-height: calc(100vh - 3rem);
}

.file-extended:target figcaption {
  display: none;
}

.featured.image img {
  cursor: zoom-in;
  display: block;
  margin: auto;
  max-height: 75vh;
  max-width: 100%;
}

/*
 * Navigation.
 */

#site-title {
  background-image: url($betty-32-32-png-url);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 3rem;
  opacity: 0.7;
  text-indent: -999em;
  width: 3rem;
}

#site-title:hover {
  opacity: 1;
}

#nav-primary {
  background-color: #fff;
  font-size: 1.1rem;
  height: 3rem;
}

.nav-primary-action {
  cursor: pointer;
  display: block;
  float: right;
  font-size: 1.1rem;
  height: 3rem;
  line-height: 3rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 25%;
}

.nav-primary-expanded {
  background-color: #fff;
  border-bottom: 0.5em pink solid;
  display: none;
  left: 0;
  margin: 0;
  max-height: calc(100% - 3rem);
  position: absolute;
  top: 3rem;
  width: 100%;
  z-index: 9999;
}

.nav-primary-expandable:hover .nav-primary-expanded {
  display: initial;
}

.nav-primary-expandable:hover .nav-primary-action {
  color: white;
  background-color: #f7f7f7;
}

.nav-secondary {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-secondary li {
  display: block;
  border-bottom: 1px #eee solid;
}

.nav-secondary li a {
  display: block;
  padding: 1rem;
}

.nav-secondary li a:hover,
.nav-secondary li a:focus {
  background-color: #f7f7f7;
}

#nav-sections h2 {
  background-image: url($menu-svg-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem 2.5rem;
  text-indent: -999rem;
  width: 3rem;
}

#nav-locale h2 {
  background-image: url($language-svg-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem 2.5rem;
  text-indent: -999rem;
  width: 3rem;
}

@media (min-width: 768px) {
  #nav-primary {
    padding: 3rem;
    width: calc(100% - 6rem);
  }

  #content {
    padding: 1rem 3rem 3rem 3rem;
    width: calc(100% - 6rem);
  }

  .featured {
    margin: 3rem -3rem 0 -3rem;
    width: calc(100% + 6rem);
  }

  footer {
    padding: 3rem;
  }

  .nav-primary-expanded {
    top: 6rem;
  }

  .nav-secondary li a {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #nav-sections .nav-primary-action {
    display: none;
  }

  #nav-sections .nav-primary-expanded {
    border: 0;
    display: initial;
  }

  #nav-sections .nav-secondary {
    border: 0;
    clear: both;
    display: block !important;
    padding: 0 0 0 2rem;
    position: absolute;
    width: 100%;
  }

  #nav-sections .nav-secondary li {
    display: inline;
  }

  #nav-sections .nav-secondary li a {
    float: left;
    line-height: 3rem;
    padding: 0 1em;
  }
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #777;
  border-radius: 0.3rem;
  padding: 0 0.3rem;
}
