@use '../mixins/text';

.header-site-logo {
  height: 1.5em;
  margin-bottom: $spacer * .25;
  margin-top: $spacer * .25;
  width: 1.5em;
}

.header-site-title {
  color: var(--bs-body-color);
  font-weight: bold;
  margin-bottom: $spacer * .25;
  margin-top: $spacer * .25;
  text-decoration: none;

  &:focus {
    @include text.link-focus;
  }
}

.header-primary-navigation li a {
  color: var(--bs-body-color);
  display: inline-block;
  padding: $spacer * .25;
  text-decoration: none;

  &:hover {
    background-color: var(--bs-body-color);
    color: var(--bs-body-bg);
  }
}

.header-entry-point {
  height: auto;
  width: 1lh;
}

#nav-menu .header-entry-point {
  height: 2lh;
}
