.map-section {
  height: 75vh;
  min-height: 500px;
  max-height: 1000px;
}

.map {
  border-color: var(--betty-border-color);
  border-style: solid;
  border-width: $border-width 0 $border-width 0;

  &:fullscreen {
    border-width: 0;
  }

  &:focus {
    border-color: var(--betty-focus-color);
    outline: none;
  }
}
