.map-section {
  /* Maps are full width, so leave enough vertical space for scrolling. */
  height: 50vh;
}

.map {
  border-color: var(--betty-border-color);
  border-style: solid;
  border-width: $border-width 0 $border-width 0;

  &:focus {
    border-color: var(--betty-focus-color);
    outline: none;
  }
}
