.tree-section {
  /* Trees are full width, so leave enough vertical space for scrolling. */
  height: 50vh;

  .tree {
    margin-left: -$border-width;
    margin-right: -$border-width;
  }
}

.tree {
  background-color: $white;
  border: $border-width solid var(--betty-border-color);
  position: relative;

  .btn-full-screen {
    position: absolute;
    right: $spacer * 0.5;
    top: $spacer * 0.5;
    z-index: 1;
  }
}
