<figure>
    <img src="{{ ('betty-static://' ~ file | image_resize_cover((500, 500), focus=focus)) | url }}"{% if file.description %} alt="{{ file.description | localize }}"{% endif %}>
    {% if file.description %}
        <figcaption>{{ file.description | localize }}</figcaption>
    {% endif %}
</figure>
