{% if 'maps' in project.extensions %}
    {% set map -%}
        {% include 'maps/map.html.j2' %}
    {%- endset %}
    {% if map %}
        <div{% if featured %} class="featured"{% endif %}>
            {{ map }}
        </div>
    {% endif %}
{% endif %}
