<div class="featured tree" data-betty-person-id="{{ person.id }}" data-betty-people="{{ '/people.json' | localized_url }}"></div>
{% do '/css/trees-webpack.css' | public_css %}
{% do 'trees-webpack' | webpack_entry_point_js %}
