html {
  height: 100%;
}

body {
  background-color: pink;
  color: #333;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
}

/*
 * Text and links.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-weight: normal;
  font-size: 2rem;
}

h2 {
  font-weight: normal;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #149988;
}

a:hover {
  color: #2a615a;
}

dl,
p,
li {
  line-height: 1.5;
}

address {
  display: inline;
  font-style: normal;
}

.tooltip {
  cursor: help;
  text-decoration: dotted underline;
}

/*
 * Entity lists.
 */
ul.entities {
  padding: 0;
}

ul.entities li {
  list-style: none;
  margin-top: 0.5em;
  padding: 0.5em;
}

ul.entities li.even {
  background-color: #eee;
}

/*
 * Navigation.
 */

#nav-primary {
  color: purple;
  font-size: 1.1rem;
}

#site-title {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  width: calc(75% - 2rem);
}

#site-title a {
  color: #777;
}

#nav-primary input[type="checkbox"] {
  display: none;
}

#nav-primary label {
  cursor: pointer;
  display: block;
  float: right;
  height: 3rem;
  line-height: 3rem;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 25%;
}

#nav-primary input[type="checkbox"]:checked ~ label {
  background-color: #fff;
}

#nav-primary label::after {
  content: "MENU";
}

#nav-primary input[type="checkbox"]:checked ~ label::after {
  content: "×";
  font-weight: bold;
}

#nav-primary ul {
  background-color: #fff;
  border-bottom: 0.5em pink solid;
  list-style: none;
  margin: 0;
  padding: 1rem 3rem;
  position: absolute;
  top: 3rem;
  width: calc(100% - 6rem);
}

#nav-primary input[type="checkbox"] ~ ul {
  display: none;
}

#nav-primary input[type="checkbox"]:checked ~ ul {
  display: initial;
}

#nav-primary ul li {
  margin: 1rem 0;
}

#nav-primary ul li a {
  background-color: #eee;
  color: purple;
  display: block;
  line-height: 3rem;
  text-align: center;
}

#nav-primary ul li a:hover {
  color: white;
  background-color: purple;
}

/*
 * Footer.
 */

footer {
  color: #777;
  padding: 3em;
}

/*
 * Main content.
 */

#content {
  background-color: white;
  clear: both;
  padding: 1rem;
  display: inline-block;
  min-width: calc(100% - 2rem);
}

/*
 * Entity metadata.
 */

.meta dt {
  font-weight: bold;
}

@media (min-width: 768px) {
  .meta dt,
  .meta dd {
    display: inline;
  }

  .meta dt::after {
    content: ':';
  }

  .meta dd {
    margin: 0 3em 0 0;
  }
}

/**
 * People.
 */
.private {
  cursor: help;
  text-decoration: dotted underline;
}

/*
 * Media.
 */
.image {
  background-color: #eee;
  margin: 0;
  padding: 1em;
}

figure {
  background-color: #ccc;
  display: inline-block;
  padding: 0.5em;
  margin: 0;
}

figure img {
  width: 100%;
}
