{% set resultContainerTemplate %}
    {% include 'search/result.html.j2' %}
{% endset %}
{% set resultsContainerTemplate %}
    {% include 'search/results.html.j2' %}
{% endset %}

{{ {
    'resultContainerTemplate': resultContainerTemplate,
    'resultsContainerTemplate': resultsContainerTemplate,
    'index': search_index() | list
} | json }}
