{% set place = place | default(entity) %}
<div class="featured-entity-intro">
    <h2>
        {% include [
            'entity/label--place.html.j2',
            'entity/label.html.j2',
        ] %}
    </h2>
    <a href="{{ place | url }}">
        {% with embedded = True %}
            {% include [
                'entity/meta--place.html.j2',
                'entity/meta.html.j2',
            ] ignore missing %}
        {% endwith %}
    </a>
</div>

<div class="featured-entity-feature">
    {% set places = place.walk_enclosees | map(attribute='enclosee') | select('entity_plugin', 'place') | list %}
    {% if place.coordinates %}
        {% set places = places + [place] %}
    {% endif %}
    {% if places | length > 0 %}
        {% with embedded = true, featured = false, hide_list = true %}
            {% include 'entity/list--place.html.j2' %}
        {% endwith %}
    {% endif %}
</div>
