{%- set embedded = embedded | default(False) -%}
{%- if not embedded and entity is public and entity is persistent_entity_id -%}
    <a href="{{ entity | url }}">
{%- endif -%}
{{ entity.label | localize }}
{%- if not embedded and entity is public and entity is persistent_entity_id -%}
    </a>
{%- endif -%}
