{% set place = place | default(entity) %}
{% set embedded = embedded | default(False) %}
<span>
    {%- set names = place.names | select_has_dates(date_context | default(none)) | list -%}
    {%- if names | length == 0 -%}
        {%- set names = place.names -%}
    {%- endif -%}
    {%- if names -%}
        {%- set name = (names | first).name -%}
    {%- else -%}
        {%- set name = place.label -%}
    {%- endif -%}

    {%- if not embedded -%}
        <a href="{{ place | url }}">
    {%- endif -%}
    {{ name | localize | html_lang }}
    {%- if not embedded -%}
        </a>
    {%- endif -%}
</span>
