{% set source = source | default(entity) %}
<div class="meta">
{% if source.contained_by %}
    {% with source=source.contained_by %}
        {% include 'entity/label--source.html.j2' %}
    {% endwith %}
{% endif %}
</div>
