{% extends 'entity/page-list.html.j2' %}
{% set people = people | default(entities) %}
{% set page_title = _('People') %}
{% block page_content %}
    {% if people | select('public') | list | length > 0 %}
        {% include 'entity/list--person.html.j2' %}
    {% else %}
        <p>{% trans %}I'm sorry, dear, but it seems there are no people.{% endtrans %}</p>
    {% endif %}
{% endblock %}
