{% extends 'entity/page-list.html.j2' %}
{% set places = places | default(entities) %}
{% set page_title = _('Places') %}
{% block page_content %}
    {% if places | select('public') | list | length > 0 %}
        {% with canonical=True %}
            {% include 'entity/list--place.html.j2' %}
        {% endwith %}
    {% else %}
        <p>{% trans %}I'm sorry, dear, but it seems there are no places.{% endtrans %}</p>
    {% endif %}
{% endblock %}