{%- import 'macro/source.html.j2' as sourceMacros -%}

{% macro cite(citations) -%}
    {%- set ns = namespace(numberedCitations=[]) -%}
    {%- for citation in citations -%}
        {%- set ns.numberedCitations = ns.numberedCitations + [(citer.cite(citation), reference)] -%}
    {%- endfor -%}
    {%- for number, citation in ns.numberedCitations | sort(attribute=0) %}
        <a href="#reference-{{ number }}" class="citation">[{{ number }}]</a>
    {%- endfor -%}
{%- endmacro -%}

{%- macro label(citation, context=None) -%}
    {# Citation formatting is inspired by the MLA style guide(https://style.mla.org/) #}
    <span>
        {%- if citation.source.author -%}
            <span class="citation-author">{{ citation.source.author }}</span>
        {%- endif -%}
        {%- if citation.source -%}
            <span class="citation-title">{{ sourceMacros.link(citation.source) }}</span>
            {%- if citation.source.publisher -%}
                <span class="citation-publisher">{{ citation.source.publisher }}</span>
            {%- endif -%}
        {%- endif -%}
        {%- if citation.location -%}
                <span class="citation-location">{%- if context == citation -%}{{ citation.location }}{% else %}<a href="{{ citation | url }}">{{ citation.location }}</a>{%- endif -%}</span>
        {%- endif -%}
        {%- if citation.date -%}
            <span class="citation-date">{% trans date = citation.date | format_date %}Accessed {{ date }}{% endtrans %}</span>
        {%- endif -%}
    </span>
{%- endmacro -%}
