{%- macro format(date) -%}
    {# All components. #}
    {%- if date.year and date.month and date.day -%}
        {%- set formatted = calendar.month_name[date.month] + ' ' + date.day | string + ', ' + date.year | string -%}
        {%- set timevals = [date.year, '{:0>2}'.format(date.month), '{:0>2}'.format(date.day)] -%}
    {# No year, but month and day. #}
    {%- elif not date.year and date.month and date.day -%}
        {%- set formatted = calendar.month_name[date.month] + ' ' + date.day | string -%}
        {%- set timevals = ['{:0>2}'.format(date.month), '{:0>2}'.format(date.day)] -%}
    {# No month, but year. #}
    {%- elif date.year and not date.month -%}
        {%- set formatted = date.year | string -%}
        {%- set timevals = [date.year] -%}
    {# No day, but year and month. #}
    {%- elif date.year and date.month and not date.day -%}
        {%- set formatted = calendar.month_name[date.month] + ', ' + date.year | string -%}
        {%- set timevals = [date.year, '{:0>2}'.format(date.month)] -%}
    {%- else -%}
        {%- set formatted = 'unknown date' -%}
    {%- endif -%}
    {%- if timevals is defined -%}
        <time datetime="{{ timevals | join('-') }}">{{ formatted }}</time>
    {%- else -%}
        {{ formatted }}
    {%- endif -%}
{%- endmacro -%}