{% macro label(event) %}
    <a href="/event/{{ event.id }}">{{ type_label(event) }}</a>
    {% if event.people | length > 0 %}
        of
        {% set ns = namespace(people_labels=[]) %}
        {% for person in event.people | sort(attribute='name') %}
            {%  set ns.people_labels = ns.people_labels + ['<a href="/person/' + person.id + '">' + person.name + '</a>'] %}
        {% endfor %}
        {{ ns.people_labels | join(', ') }}
    {% endif %}
{% endmacro %}

{% macro type_label(event) %}
    {% set _type_labels = {
        event.Type.BIRTH: 'Birth',
        event.Type.DEATH: 'Death',
        event.Type.BURIAL: 'Burial',
        event.Type.MARRIAGE: 'Marriage',
    } %}
    {{ _type_labels[event.type] }}
{% endmacro %}
