{% macro type_label(type) -%}
    {% set _type_labels = {
        EventType.BIRTH: _('Birth'),
        EventType.BAPTISM: _('Baptism'),
        EventType.ADOPTION: _('Adoption'),
        EventType.CREMATION: _('Cremation'),
        EventType.DEATH: _('Death'),
        EventType.BURIAL: _('Burial'),
        EventType.ENGAGEMENT: _('Engagement'),
        EventType.MARRIAGE: _('Marriage'),
        EventType.MARRIAGE_BANNS: _('Marriage banns'),
        EventType.DIVORCE: _('Divorce'),
        EventType.DIVORCE_FILING: _('Divorce filing'),
        EventType.RESIDENCE: _('Residence'),
        EventType.IMMIGRATION: _('Immigration'),
        EventType.EMIGRATION: _('Emigration'),
        EventType.OCCUPATION: _('Occupation'),
        EventType.RETIREMENT: _('Retirement'),
    } %}
    {{ _type_labels[type] }}
{%- endmacro %}

{% macro presence_role_label(role) -%}
    {% set _role_labels = {
        PresenceRole.SUBJECT: _('Subject'),
        PresenceRole.WITNESS: _('Witness'),
    } %}
    {% if role in _role_labels %}
        {{ _role_labels[role] }}
    {% else %}
        {% trans %}Attendee{% endtrans %}
    {% endif %}
{%- endmacro %}
