{%- macro label(event, person_context=None) -%}
    {%- import 'macro/person.html.j2' as personMacros -%}
    {% set formattedEvent = '<a href="' + event | url + '">' + type_label(event) + '</a>' %}
    {% if event.description is not none %}
        {% set formattedEvent = formattedEvent + ' (' + event.description + ')' %}
    {% endif %}
    {% set ns = namespace(subjects=[]) %}
    {% for presence in event.presences %}
        {% if PresenceRole.SUBJECT == presence.role and presence.person != person_context %}
            {% set ns.subjects = ns.subjects + [presence.person] %}
        {% endif %}
    {% endfor %}
    {% set formattedSubjects = ns.subjects | sort(attribute='name') | map(personMacros.label) | join(', ') %}
    {%- if ns.subjects | length == 0 -%}
        {{ formattedEvent }}
    {% else %}
        {%- if person_context is not none and person_context in (event.presences | selectattr('role', 'equalto', PresenceRole.SUBJECT) | map(attribute='person')) %}
            {% trans event = formattedEvent, subjects = formattedSubjects -%}
                {{ event }} with {{ subjects }}
            {%- endtrans %}
        {% else %}
            {% trans event = formattedEvent, subjects = formattedSubjects -%}
                {{ event }} of {{ subjects }}
            {%- endtrans %}
        {% endif -%}
    {%- endif -%}
{%- endmacro -%}

{% macro type_label(event) -%}
    {%- set _type_labels = {
        EventType.BIRTH: _('Birth'),
        EventType.BAPTISM: _('Baptism'),
        EventType.CREMATION: _('Cremation'),
        EventType.DEATH: _('Death'),
        EventType.BURIAL: _('Burial'),
        EventType.MARRIAGE: _('Marriage'),
        EventType.MARRIAGE_BANNS: _('Marriage banns'),
        EventType.RESIDENCE: _('Residence'),
        EventType.IMMIGRATION: _('Immigration'),
        EventType.EMIGRATION: _('Emigration'),
        EventType.OCCUPATION: _('Occupation'),
    } -%}
    {{ _type_labels[event.type] }}
{%- endmacro -%}

{% macro presence_role_label(presence) -%}
    {%- set _role_labels = {
        PresenceRole.SUBJECT: _('Subject'),
        PresenceRole.WITNESS: _('Witness'),
    } -%}
    {%- if presence.role in _role_labels -%}
        {{ _role_labels[presence.role] }}
    {%- else -%}
        Attendee
    {%- endif -%}
{%- endmacro -%}
