{% macro label(place, context=None) %}
    <a href="/place/{{ place.id }}">{{ place.label }}</a>
    {%- if place.enclosed_by and place.enclosed_by != context -%}
        ,{{ label(place.enclosed_by) }}
    {%- endif -%}
{% endmacro %}