{{ {
    'mode': app.configuration.mode,
    'minimize': app.configuration.mode == 'production',
    'debug': app.configuration.mode == 'development',
    'cacheDirectory': path.join(app.configuration.cache_directory_path, 'betty.extension.trees.Trees', 'babel'),
} | tojson }}