{{ {
    'mode': site.configuration.mode,
    'minimize': site.configuration.mode == 'production',
    'debug': site.configuration.mode == 'development',
    'cacheDirectory': path.join(site.configuration.cache_directory_path, 'betty.extension.trees.Trees', 'babel'),
} | tojson }}