{%- set embedded = embedded | default(False) -%}
{%- macro _placeLabel(place) -%}
    {%- include 'label/place.html.j2' -%}
{%- endmacro -%}
{%- set enclosing_places = place | walk('enclosed_by') | takewhile('ne', None) | list -%}
{%- if place_context is defined -%}
    {% set enclosing_places = enclosing_places | takewhile('ne', place_context) %}
{%- endif -%}
{%- set enclosing_places = enclosing_places | list -%}
<div class="meta">
{%- if enclosing_places | length > 0 -%}
    in {{ enclosing_places | map(_placeLabel) | join(', ') }}
{%- endif -%}
</div>
