{%- if entity.coordinates -%}
    <dl class="d-table mt-2 small">
        <div class="d-table-row">
            <dt class="d-table-cell pe-2">
                {% trans %}Coordinates{% endtrans %}
            </dt>
            <dd class="d-table-cell">
                {{ entity.coordinates.latitude | format_degrees }}, {{ entity.coordinates.longitude | format_degrees }}
            </dd>
        </div>
    </dl>
{%- endif -%}
