{%- set embedded = embedded | default(False) -%}
{% if entity.public %}
    {%- if not embedded and entity.public and entity.id.persistent -%}
        <a href="{{ entity | url }}">
    {%- endif -%}
    {{ entity.label | localize | html_lang }}
    {%- if not embedded and entity.public and entity.id.persistent -%}
        </a>
    {%- endif -%}
{% else %}
    {% include 'entity/private.html.j2' %}
{%- endif -%}
