{% extends 'entity/page-list-base.html.j2' %}
{% block page_content %}
    {{ super() }}

    <div class="my-5">
        {% if "maps" in project.service_providers %}
            {% set map -%}
                {% with places = project.ancestry['place'] %}
                    {% include 'component/maps/map.html.j2' %}
                {% endwith %}
            {%- endset %}
            {% if map %}
                <div style="height: 75vh; min-height: 500px; max-height: 1000px;">
                    {{ map }}
                </div>
                <div data-bs-theme="light-contrast">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <p>
                                    <small>
                                        {% include 'component/maps/attribution.html.j2' %}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col col-12 col-lg-8">
                    {% if page_entities | length > 0 %}
                        {% set pager | trim %}
                            {% include 'component/pager.html.j2' %}
                        {% endset %}
                        {% if pager %}
                            <div class="mb-3">
                                {{ pager }}
                            </div>
                        {% endif %}
                        {% with entities = page_entities %}
                            {% include ['entity/list--' + document.resource.id + '.html.j2', 'entity/list.html.j2'] %}
                        {% endwith %}
                        {% if pager %}
                            <div class="mt-3">
                                {{ pager }}
                            </div>
                        {% endif %}
                    {% else %}
                        <p>{% trans %}I'm sorry, dear, but it seems there is nothing to show.{% endtrans %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
