{% set ns = namespace(search_shortcuts=[]) %}
{% for locale_configuration in app.project.configuration.locales %}
    {% enter app.acquire_locale(locale_configuration.locale) %}
        {% do ns.search_shortcuts.append(pgettext('enter-search-shortcut', 's')) %}
    {% exit %}
{% endfor %}
{{ {
    'enterSearchShortcuts': ns.search_shortcuts,
} | tojson }}
