{% set section_content -%}
    {{ section_content_provider_configurations | provide_content }}
{%- endset %}
{% if section_content | trim | length %}
    <section{% if section_name %} id="{{ section_name }}"{% endif %} class="section my-5">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="section-heading{% if section_visually_hide_heading | default(false) %} visually-hidden{% endif %}">
                        {{ section_heading | localize }}
                        {% if section_name %}
                            {% with url = '#' ~ section_name %}
                                {% include 'component/permalink.html.j2' %}
                            {% endwith %}
                        {% endif %}
                    </h2>
                </div>
            </div>
        </div>
        {{ section_content }}
    </section>
{% endif %}
