{% do citer.track() %}
{%- import 'macro/citation.html.j2' as citationMacros -%}
<!doctype html>
<html lang="en"
      prefix="foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rel: http://purl.org/vocab/relationship/">
<head>
    <title>{{ title | striptags }} - {{ site.configuration.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Betty (https://github.com/bartfeenstra/betty)"/>
    <meta name="og:title" content="{{ title | striptags }}"/>
    <meta name="og:site_name" content="{{ site.configuration.title }}"/>
    {%- for file in resource.files | default([]) -%}
        {%- if file.type.startswith('image/') %}
            <meta name="og:image" content="{{ file | image(600, 600) | url }}"/>
            {%- if file.description %}
                <meta name="og:image:description" content="{{ file.description }}"/>
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    <meta name="og:image" content="/betty-512x512.png"/>
    <link rel="stylesheet" href="{{ '/betty.css' | url }}"/>
    <link rel="icon" href="{{ '/betty.ico' | url }}">
    <link rel="manifest" href="{{ '/betty.webmanifest' | url }}">
    {%- if 'betty.plugins.js.Js' in plugins %}
    <style id="js-visibility">
        .js-show {
            display: none;
        }
    </style>
    <script>
        document.getElementById('js-visibility').innerHTML = '.js-hide{display:none;}'
    </script>
    <script src="{{ '/betty.js' | url }}" defer></script>
    {% endif -%}
</head>
<body>
<nav id="nav-primary">
    <a id="site-title" href="{{ '/index.html' | url }}" title="{{ site.configuration.title }}">{{ site.configuration.title }}</a>
    {%- if 'betty.plugins.search.Search' in plugins %}
        <form id="search" autocomplete="off">
            <input id="search-query" type="search"/>
        </form>
    {% endif -%}
    <a id="nav-primary-show" class="nav-primary-toggle" href="#nav-primary">Menu</a>
    <a id="nav-primary-hide" class="nav-primary-toggle" href="#">×</a>
    <ul class="nav-expanded">
        <li><a href="{{ '/person/' | url }}">People</a></li>
        <li><a href="{{ '/event/' | url }}">Events</a></li>
        <li><a href="{{ '/place/' | url }}">Places</a></li>
        <li><a href="{{ '/file/' | url }}">Media</a></li>
        <li><a href="{{ '/source/' | url }}">Sources</a></li>
    </ul>
</nav>
<div id="content">
    <h1>{{ title }}</h1>
    {%- block content -%}{%- endblock -%}
    {% if citer | length > 0 %}
        <section class="references">
            <h2>References</h2>
            <ol>
            {% for number, citation in citer %}
                <li id="reference-{{ number }}">{{ citationMacros.referenceLabel(citation) }}</li>
            {% endfor %}
            </ol>
        </section>
    {% endif %}
</div>
<footer>
    {% include 'footer.html.j2' %}
</footer>
</body>
</html>
