{% import 'macro/source.html.j2' as sourceMacros %}
{% if citation.source %}
    <div class="meta">
    {{ ([citation.source] + citation.source | walk('contained_by') | list) | map(sourceMacros.link) | join(', ') }}
    </div>
{% endif %}
