{% if document.file.type.startswith('image/') %}
    <div class="image">
        {% set document_path = '/document/' +  document.id + '.' + document.file.extension %}
        <figure>
            <a href="{{ document_path }}"><img src="{{ document_path }}" alt="{{ document.label }}"/></a>
            <figcaption>{{ document.label }}</figcaption>
        </figure>
        {% if document.notes %}
            <div class="notes">
                {% for note in document.notes %}
                    {{ note.text | paragraphs }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}