{%- import 'macro/place.html.j2' as placeMacros -%}
{%- import 'macro/citation.html.j2' as citationMacros -%}
{%- if not embedded is defined -%}
    {%- set embedded = False -%}
{%- endif -%}
{% set formattedDate = none %}
{% if event.date %}
    {% set formattedDate = event.date | format_date %}
{%- endif %}

{% set formattedPlace = none %}
{% if event.place and (place_context is not defined or event.place != place_context) %}
    {% set formattedPlace = placeMacros.label(event.place, place_context, embedded=embedded) %}
{% endif -%}

{% if formattedDate and formattedPlace %}
    {% trans date = formattedDate, place = formattedPlace -%}
        {{ date }} in {{ place }}
    {%- endtrans %}
{% elif formattedPlace -%}
    {% trans place =formattedPlace -%}
        in {{ place }}
    {%- endtrans %}
{% else %}
    {{ formattedDate }}
{%- endif %}
{%- if not embedded -%}
    {{ citationMacros.cite(event.citations) }}
{%- endif -%}
