{% if event.date %}
    {{ event.date | date }}
{% endif %}
{% if event.place and event.place != place_context %}
    in
    {% import 'macro/place.html.j2' as placeMacros %}
    {{ placeMacros.label(event.place, place_context) }}
{% endif %}
