<div class="file">
    <a href="#file-{{ file.id }}" class="file-summary">
        {% if file.media_type and file.media_type.startswith('image/') %}
            <figure>
                <img src="{{ file | image(600, 600) | static_url }}" alt="{{ file.description }}"/>
                {% if file.description %}
                    <figcaption>{{ file.description }}</figcaption>
                {% endif %}
            </figure>
        {% else %}
            {{ file.description }}
        {% endif %}
    </a>
    <div id="file-{{ file.id }}" class="file-extended">
        <ul class="file-controls">
            <li><a href="{{ file | file | static_url }}" title="View original in full">⇔</a></li>
            <li><a href="{{ file | file | static_url }}" download="{{ file.name }}" title="Download this file">⇓</a></li>
            <li><a href="{{ file | url }}" title="More details">ℹ</a></li>
            <li><a href="#" title="Close this file">×</a></li>
            {% if previous_file is defined %}
                <li class="file-nav file-previous"><a href="#file-{{ previous_file.id }}" title="{{ previous_file.description }}">←</a></li>
            {% endif %}
            {% if next_file is defined %}
                <li class="file-nav file-next"><a href="#file-{{ next_file.id }}" title="{{ next_file.description }}">→</a></li>
            {% endif %}
        </ul>
        <div class="file-content">
            {% if file.media_type and file.media_type.startswith('image/') %}
                <figure>
                    <img src="{{ file | image(1200, 1200) | static_url }}" alt="{{ file.description }}" title="{{ file.description }}" class="image-fit"/>
                    {% if file.description %}
                        <figcaption>{{ file.description }}</figcaption>
                    {% endif %}
                </figure>
            {% else %}
                {{ file.description }}
            {% endif %}
        </div>
    </div>
</div>