{%- import 'macro/event.html.j2' as eventMacros -%}
<ul class="entities">
    {%- for event in events | rejectattr('date', 'none') | selectattr('date.complete') | sort(attribute='date') %}
        <li class="{{ loop.cycle('odd', 'even') }}">
            {{ eventMacros.label(event, person_context=person_context | default(None)) }}
            {% include 'event-meta.html.j2' %}
        </li>
    {%- endfor -%}
</ul>
