{% extends 'base.html.j2' %}
{% block content %}
    {% if entities %}
        <ul class="entities">
            {% for entity in entities %}
                <li class="{{ loop.cycle('odd', 'even') }}">
                    <a href="/{{ entity_type_name }}/{{ entity.id }}">{{ entity.label }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
