{% extends 'list.html.j2' %}
{% set title = 'Places' %}
{% set entities = entities | sort(attribute='label') %}
{% block content %}
    {% if entities %}
        {% set ns = namespace(placeIds = []) %}
        {% for place in entities %}
            {% set ns.placeIds = ns.placeIds + [place.id] %}
        {% endfor %}
        <div class="map" id="list-place-map" data-place-ids="{{ ns.placeIds | join(',') }}"></div>
    {% endif %}
    {% if entities %}
        <ul class="entities">
            {% for place in entities | sort(attribute='label') %}
                <li class="{{ loop.cycle('odd', 'even') }}">
                    <a href="/place/{{ place.id }}">{{ place.label }}</a>
                    {% include 'place-meta.html.j2' %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
