<div class="meta">
    {%- if person.private -%}
        <p>This person's details are unavailable to protect their privacy.</p>
    {%- elif person.birth or person.death %}
        <dl>
            {%- if person.birth %}
                <dt>Birth</dt>
                <dd>
                    {%- with event=person.birth -%}
                        {% include 'event-dimensions.html.j2' %}
                    {%- endwith -%}
                </dd>
            {%- endif %}
            {%- if person.death %}
                <dt>Death</dt>
                <dd>
                    {%- with event=person.death -%}
                        {% include 'event-dimensions.html.j2' %}
                    {%- endwith -%}
                </dd>
            {%- endif %}
        </dl>
    {%- endif %}
</div>