{% import 'macro/place.html.j2' as placeMacros %}
{%- macro _embeddedPlaceLabel(name) -%}
    {{ placeMacros.label(name, embedded=True) }}
{%- endmacro -%}
{%- if not embedded is defined -%}
    {%- set embedded = False -%}
{%- endif -%}
{%- set enclosing_places = place | walk('enclosed_by') | takewhile('ne', None) | list -%}
{%- if context is defined -%}
    {%- set enclosing_places = enclosing_places | takewhile('ne', context) -%}
{%- endif -%}
{%- set enclosing_places = enclosing_places | list -%}
{%- if enclosing_places | length > 0 %}
    <div class="meta">
    in {{ enclosing_places | map(_embeddedPlaceLabel if embedded else placeMacros.label) | join(', ') }}
    </div>
{%- endif -%}
