{% extends 'base.html.j2' %}
{% set title = place.label %}
{% block content %}
    {% if place.coordinates %}
        <div class="map" id="map-{{ place.id }}" data-latitude="{{ place.coordinates.latitude }}" data-longitude="{{ place.coordinates.longitude }}"></div>
    {% endif %}

    <h2>Events</h2>
    {% if place.events %}
        <ul>
            {% for event in place.events %}
                <li><a href="/event/{{ event.id }}">{{ event.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Unknown.</p>
    {% endif %}
{% endblock %}