{% macro enclosed_by(place) %}
    <a href="/place/{{ place.id }}">{{ place.label }}</a>
    {%- if place.enclosed_by -%}
        ,{{ enclosed_by(place.enclosed_by) }}
    {%- endif -%}
{% endmacro %}

{% if place.enclosed_by %}
    <span class="meta">
    in
        {% with place=place.enclosed_by %}
            {% include 'place-label.html.j2' %}
        {% endwith %}
    </span>
{% endif %}
