{% extends 'base.html.j2' %}
{% set title = place.label %}
{% block content %}
    {% include 'place-meta.html.j2' %}

    {% if place.coordinates %}
        <div class="map" id="map-{{ place.id }}" data-place-ids="{{ place.id }}"></div>
    {% endif %}

    <h2>Events</h2>
    {% if place.events %}
        <ul>
            {% for event in place.events %}
                <li><a href="/event/{{ event.id }}">{{ event.label }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Unknown.</p>
    {% endif %}
{% endblock %}