{% with attributes = attributes | default(new_attributes()) %}
    {% do attributes.html_class.append('button-menu') %}
    {% set button_label = _('Menu') %}
    {% include 'component/button-icon.html.j2' %}
{% endwith %}
