{%- set embedded = embedded | default(False) -%}
{%- if not embedded and entity is not identifiable -%}
    <a href="{{ entity | url }}">
{%- endif -%}
{{ entity.label }}
{%- if not embedded and entity is not identifiable -%}
    </a>
{%- endif -%}
