{% extends 'base.html.j2' %}
{% set page_title = entity.names | negotiate_localizeds %}
{% block page_content %}
    {% include ['entity/meta--place.html.j2', 'entity/meta.html.j2'] ignore missing %}

    {% set places = entity | walk('encloses') | select('place_entity') | list %}
    {% if entity.coordinates %}
        {% set places = places + [entity] %}
    {% endif %}
    {% if places | length > 0 %}
        <section id="places">
            <h2 class="js-visually-hidden">
                {% trans %}Places{% endtrans %}
                {% with url = page_resource | url ~ '#places'%}
                    {% include 'permalink.html.j2' %}
                {% endwith %}
            </h2>
            {% with place_context = entity, entities = places, map_hides_list = True %}
                {% include ['entity/list--place.html.j2', 'entity/list.html.j2'] %}
            {% endwith %}
        </section>
    {% endif %}

    {% if 'betty.wikipedia.Wikipedia' in app.extensions %}
        <section id="wikipedia">
            <h2 class="visually-hidden">
                {% trans %}Wikipedia{% endtrans %}
                {% with url = page_resource | url ~ '#wikipedia'%}
                    {% include 'permalink.html.j2' %}
                {% endwith %}
            </h2>
            {% with resource=entity %}
                {% include 'wikipedia.html.j2' %}
            {% endwith %}
        </section>
    {% endif %}

    {% set events = entity.events | list + entity | walk('encloses') | select('place_entity') | map(attribute='events') | flatten | rejectattr('date', 'none') | selectattr('date.comparable') | list %}
    {% if events | length > 0 %}
        <section id="timeline">
            <h2>
                {% trans %}Timeline{% endtrans %}
                {% with url = page_resource | url ~ '#timeline'%}
                    {% include 'permalink.html.j2' %}
                {% endwith %}
            </h2>
            {% with entities=events, place_context=place %}
                {% include ['entity/list--event.html.j2', 'entity/list.html.j2'] %}
            {% endwith %}
        </section>
    {% endif %}
{% endblock %}