{%- do citer.track() -%}
<!doctype html>
<html lang="{{ locale }}"
      prefix="foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rel: http://purl.org/vocab/relationship/">
<head>
    <title>{% if page_title is defined %}{{ page_title | striptags }} - {% endif %}{{ site.configuration.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Betty (https://github.com/bartfeenstra/betty)"/>
    {% if site.configuration.author %}
        <meta name="author" content="{{ site.configuration.author }}"/>
    {% endif %}
    <meta name="og:title" content="{%- if page_title is defined -%}{{ page_title | striptags }}{%- else -%}{{ site.configuration.title }}{%- endif -%}"/>
    <meta name="og:site_name" content="{{ site.configuration.title }}"/>
    {% if page_resource is defined %}
        {% for file in page_resource.files | default([]) %}
            {% if file.media_type.startswith('image/') %}
                <meta name="og:image" content="{{ file | image(600, 600) | static_url }}"/>
                {% if file.description %}
                    <meta name="og:image:description" content="{{ file.description }}"/>
                {% endif %}
            {% endif %}
        {% endfor %}
        <link rel="canonical" href="{{ page_resource | url(absolute=true) }}"/>
        {% if page_resource is defined and page_resource is resource and resource is identifiable %}
            <link rel="alternate" href="{{ page_resource | url(media_type='application/json') }}" type="application/json"/>
            <script type="application/ld+json">
              {{ page_resource | tojson }}
            </script>
        {% endif %}
    {% endif %}
    <meta name="og:image" content="/betty-512x512.png"/>
    <link rel="stylesheet" href="{{ '/betty.css' | static_url }}"/>
    <link rel="icon" href="{{ '/betty.ico' | static_url }}"/>
    <link rel="manifest" href="{{ '/betty.webmanifest' | static_url }}"/>
    <style id="js-visibility">
        .js-show {
            display: none;
        }
    </style>
    <script>
        document.getElementById('js-visibility').innerHTML = '.js-hide{display:none;}'
    </script>
    <script src="{{ '/search.js' | static_url }}" defer></script>
    {% for html_provider in html_providers %}
        {% for css_path in html_provider.css_paths %}
            <link rel="stylesheet" href="{{ css_path }}"/>
        {% endfor %}
        {% for js_path in html_provider.js_paths %}
            <script src="{{ js_path }}" defer></script>
        {% endfor %}
    {% endfor %}
</head>
<body>
<nav id="nav-primary">
    <a id="site-title" href="{{ '/index.html' | url }}" title="{{ site.configuration.title }}">{{ site.configuration.title }}</a>
    <form id="search" data-betty-search-index="{{ '/search-index.json' | url }}">
        <input id="search-query" type="search"/>
    </form>
    <div id="nav-sections" class="nav-primary-expandable">
        <h2 class="nav-primary-action">{% trans %}Menu{% endtrans %}</h2>
        <div class="nav-primary-expanded">
            <ul class="nav-secondary">
                <li><a href="{{ '/person/index.html' | url }}">{% trans %}People{% endtrans %}</a></li>
                <li><a href="{{ '/event/index.html' | url }}">{% trans %}Events{% endtrans %}</a></li>
                <li><a href="{{ '/place/index.html' | url }}">{% trans %}Places{% endtrans %}</a></li>
                <li><a href="{{ '/file/index.html' | url }}">{% trans %}Media{% endtrans %}</a></li>
                <li><a href="{{ '/source/index.html' | url }}">{% trans %}Sources{% endtrans %}</a></li>
            </ul>
        </div>
    </div>
    {% if page_resource is defined and site.configuration.multilingual %}
        <div id="nav-locale" class="nav-primary-expandable">
            <h2 class="nav-primary-action">{% trans %}Language{% endtrans %}</h2>
            <div class="nav-primary-expanded">
                <ul class="nav-secondary">
                {% set ns = namespace(available_locales=[]) %}
                {% for available_locale in site.configuration.locales %}
                    {% set available_locale_data = site.configuration.locales[available_locale].alias | locale_get_data %}
                    {% do ns.available_locales.append((available_locale, available_locale_data.get_display_name())) %}
                {% endfor %}
                {% for available_locale, available_locale_name in ns.available_locales | sort(attribute='1') %}
                    <li><a href="{{ page_resource | url(locale=available_locale) }}" hreflang="{{ available_locale }}" lang="{{ available_locale }}" rel="alternate">{{ available_locale_name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</nav>
<div id="content">
    {% if page_title is defined %}
        <h1>{{ page_title }}</h1>
    {% endif %}
    {% block page_content %}{% endblock %}
    {% if page_resource is has_links %}
        {% set links = page_resource.links | rejectattr('label', 'none') | list %}
        {% set links = links | select_localizeds | list + links | selectattr('locale', 'none') | list %}
        {% if links | length > 0 %}
            <h2>{% trans %}External links{% endtrans %}</h2>
            <ul>
            {% for link in links %}
                <li>
                    <a href="{{ link.url }}"{% if link.locale is not none %} hreflang="{{ link.locale }}"{% endif %}{% if link.relationship is not none %} rel="{{ link.relationship }}"{% endif %}{% if link.media_type is not none %} type="{{ link.media_type }}"{% endif %}>{{ link.label }}</a>
                    {% if link.description is not none %}
                        <div class="meta">{{ link.description }}</div>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    {% if citer | length > 0 %}
        <section class="references">
            <h2>{% trans %}References{% endtrans %}</h2>
            <ol>
            {% for number, citation in citer %}
                <li id="reference-{{ number }}" class="reference">{% include 'label/citation.html.j2' %}</li>
            {% endfor %}
            </ol>
        </section>
    {% endif %}
</div>
<footer>
    {% include 'footer.html.j2' %}
</footer>
</body>
</html>
