{% import 'macro/citation.html.j2' as citationMacros %}
{% set embedded = embedded | default(False) %}
{% set citation_context = citation_context | default(none) %}
{% set place_context = place_context | default(none) %}
{% set formattedDate = none %}
{% if event.date %}
    {% set formattedDate = event.date | format_date %}
{% endif %}

{% set formattedPlace = none %}
{% if event.place and event.place != place_context %}
    {% set formattedPlace %}
        {% with place=event.place %}
            {% include 'label/place.html.j2' %}
        {% endwith %}
    {% endset %}
{% endif %}

{% if formattedDate and formattedPlace %}
    {% trans date=formattedDate, place=formattedPlace -%}
        {{ date }} in {{ place }}
    {%- endtrans %}
{% elif formattedPlace -%}
    {% trans place=formattedPlace -%}
        in {{ place }}
    {%- endtrans %}
{% else %}
    {{ formattedDate }}
{% endif %}
{% if not embedded %}
    {{ citationMacros.cite(event.citations | reject('eq', citation_context)) }}
{% endif %}
