<object data="{{ file | file | static_url }}" title="{{ file.description }}">
    <div class="file-content-fallback-message">
        <p>
            {% trans file_name = file.name, file_url = file | file | static_url %}Your browser cannot show PDF documents. <a href="{{ file_url }}">Download {{ file_name }}</a> to view it on your device instead.{% endtrans %}
        </p>
    </div>
</object>
