<title>{% if page_title is defined %}{{ page_title | striptags }} - {% endif %}{{ project.configuration.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content="Betty (https://betty.readthedocs.io)">
{% if project.configuration.author %}
    <meta name="author" content="{{ project.configuration.author }}">
{% endif %}
<meta name="og:title" content="{{ page_title | default(project.configuration.title) | striptags }}">
<meta name="og:site_name" content="{{ project.configuration.title }}">
<meta name="twitter:title" content="{{ page_title | default(project.configuration.title) | striptags }}">
<meta name="twitter:card" content="summary_large_image">
{% if page_resource is defined %}
    {% if page_resource is has_files %}
        {% for file in page_resource.files %}
            {% if file.media_type.type == 'image' %}
                {% set page_image_url = file | image((500, 500)) | static_url(absolute=true) %}
                <meta name="og:image" content="{{ page_image_url }}">
                <meta name="og:image:type" content="{{ file.media_type }}">
                <meta name="twitter:image" content="{{ page_image_url }}">
                {% if file.description %}
                    <meta name="og:image:description" content="{{ file.description }}">
                    <meta name="twitter:image:alt" content="{{ file.description }}">
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <link rel="canonical" href="{{ page_resource | url(absolute=true) }}" hreflang="{{ localizer.locale }}" type="text/html">
    {% for project_locale in project.configuration.locales %}
        {% if project_locale != localizer.locale %}
            <link rel="alternate" href="{{ page_resource | url(locale=project_locale) }}" hreflang="{{ project_locale }}" type="text/html">

        {% endif %}
    {% endfor %}
    {% if page_resource is linked_data_dumpable %}
        <script type="application/ld+json">
          {{ page_resource.dump_linked_data(project) | tojson }}
        </script>
    {% endif %}
    {% if page_resource is entity and page_resource is not has_generated_entity_id %}
        <link rel="alternate" href="{{ page_resource | url(media_type='application/json') }}" hreflang="und" type="application/json">
    {% endif %}
{% endif %}
{% set icon_url = 'logo.png' | static_url %}
<link rel="icon" href="{{ icon_url }}">
<link rel="apple-touch-icon" href="{{ icon_url }}">
