{% set place_context = place_context | default(None) %}
<div class="places{% if 'betty.plugin.maps.Maps' in plugins %} with-map{% endif %}">
    {% if 'betty.plugin.maps.Maps' in plugins and places | rejectattr('coordinates', 'none') | list | length > 0 %}
        <div class="featured map"></div>
    {% endif %}
    <ul class="entities{% if map_hides_list | default(false) %} js-visually-hidden{% endif %}">
        {% for place in places | sort_localizeds(localized_attribute='names', sort_attribute='name') %}
            <li class="{{ loop.cycle('odd', 'even') }}" data-betty-place="{{ place | url(media_type='application/json') }}">
                {% include 'label/place.html.j2' %}
                {% include 'meta/place.html.j2' %}
            </li>
        {% endfor %}
    </ul>
</div>
