{%- set embedded = embedded | default(False) -%}
{%- macro _placeLabel(name) -%}
    {%- include 'label/place.html.j2' -%}
{%- endmacro -%}
{%- set enclosing_places = place | walk('enclosed_by') | takewhile('ne', None) | list -%}
{%- if context is defined -%}
    {%- set enclosing_places = enclosing_places | takewhile('ne', context) -%}
{%- endif -%}
{%- set enclosing_places = enclosing_places | list -%}
{%- if enclosing_places | length > 0 %}
    {%- set ns = namespace(enclosing_places_labels=[]) -%}
    {%- for place in enclosing_places -%}
        {% set place_label %}
            {%- include 'label/place.html.j2' -%}
        {% endset %}
        {% do ns.enclosing_places_labels.append(place_label) %}
    {%- endfor -%}
    <div class="meta">
    in {{ ns.enclosing_places_labels | join(', ') }}
    </div>
{%- endif -%}
