$primary: {{ project.service_providers['raspberry-mint'].primary_color }};
$secondary: {{ project.service_providers['raspberry-mint'].secondary_color }};
$tertiary: {{ project.service_providers['raspberry-mint'].tertiary_color }};
