{% extends 'base.html.j2' %}
{% set page_title %}
    {% trans project_title=project.configuration.title | localize -%}
        Welcome to {{ project_title }}
    {%- endtrans %}
{% endset %}
{% block page_content %}
{% endblock %}
