{% extends 'base.html.j2' %}
{% set page_title %}
    {% trans project_title=app.project.configuration.title %}
        Welcome to {{ project_title }}
    {% endtrans %}
{% endset %}
{% block page_content %}
{% endblock %}
