{% set ns = namespace(search_shortcuts=[]) %}
{% for locale in project.configuration.locales %}
    {% do ns.search_shortcuts.append(app.localizers.get(locale).pgettext('enter-search-shortcut', 's')) %}
{% endfor %}
{{ {
    'enterSearchShortcuts': ns.search_shortcuts,
} | tojson }}
