{%- if entity.coordinates -%}
    <div class="mt-2 small">
        <p>
            Coordinates: {{ entity.coordinates.latitude | format_degrees }}, {{ entity.coordinates.longitude | format_degrees }}
        </p>
    </div>
{%- endif -%}
