{%- if entity.coordinates -%}
    <div class="mt-2 small">
        <p>
            {% trans latitude = entity.coordinates.latitude | format_degrees,
                longitude = entity.coordinates.longitude | format_degrees
                %}Coordinates: {{ latitude }}, {{ longitude }}{% endtrans %}
        </p>
    </div>
{%- endif -%}
