{% set embedded = embedded | default(False) %}
{% set citation_context = resource.entity_contexts['citation'] %}
{% set is_link = not embedded and citation_context != entity and entity is persistent_entity_id %}
{% if entity.public %}
    {%- if is_link -%}
        <a href="{{ entity | url }}">
    {%- endif -%}
    {%- if entity.location -%}
        {{ entity.location | localize }}
    {%- else -%}
        <i>{% trans %}Unknown{% endtrans %}</i>
    {%- endif -%}
    {%- if is_link -%}
        </a>
    {%- endif -%}
{%- else -%}
    {%- include 'entity/private.html.j2' -%}
{%- endif -%}
{% with entity = entity.source %} <sup>({% include ['entity/label--source.html.j2', 'entity/label.html.j2'] %})</sup>{% endwith %}
