{% extends 'base.html.j2' %}
{% set page_title = page_title | default(resource.resource.label_plural | localize) %}
{% do resource.breadcrumbs.append(
    page_title,
    resource.resource
) %}
{% if page > 0 %}
    {% do resource.breadcrumbs.append(
        _('Page %(page)s', page=page),
        ('betty://' ~ resource.resource.id ~ '/page-' ~ (page + 1))
    ) %}
{% endif %}
{% block page_summary %}
    <p>
        {{ resource.resource.label_countable.count(project.ancestry[app.plugins('entity')[resource.resource.id]] | length) | localize | html_lang }}
    </p>
{% endblock %}
