{% extends 'entity/page-list-base.html.j2' %}
{% block page_content %}
    {{ super() }}

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col col-12 col-lg-8">
                {% if page_entities | length > 0 %}
                    {% set pager | trim %}
                        {% include 'component/pager.html.j2' %}
                    {% endset %}
                    {% if pager %}
                        <div class="mb-3">
                            {{ pager }}
                        </div>
                    {% endif %}
                    {% with entities = page_entities %}
                        {% include ['entity/list--' + resource.resource.id + '.html.j2', 'entity/list.html.j2'] %}
                    {% endwith %}
                    {% if pager %}
                        <div class="mt-3">
                            {{ pager }}
                        </div>
                    {% endif %}
                {% else %}
                    <p>{% trans %}I'm sorry, dear, but it seems there is nothing to show.{% endtrans %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
