{% extends 'entity/page.html.j2' %}
{% block page_content %}
    {% include 'section/wikipedia.html.j2' %}

    {% with facts = resource.resource.facts %}
        {% include 'section/facts.html.j2' %}
    {% endwith %}

    {% with file_references = resource.resource.file_references %}
        {% include 'section/media.html.j2' %}
    {% endwith %}
{% endblock %}
