{% extends 'entity/page.html.j2' %}
{% set page_title = resource.resource.label | localize %}
{% block page_content %}
    {% with file = resource.resource %}
        {% include 'component/media.html.j2' %}
    {% endwith %}

    {% with notes = resource.resource.notes %}
        {% include 'section/notes.html.j2' %}
    {% endwith %}

    {% with file_references = resource.resource.referees %}
        {% include 'entity/appearances.html.j2' %}
    {% endwith %}

    {# These are the citations for the file itself. #}
    {% set citations = resource.resource.citations | select('public') | list %}
    {% if citations | length  > 0 %}
        <div class="container my-5">
            <div class="row">
                <div class="col col-12 col-lg-8">
                    <section id="media-references">
                        <h2 class="section-heading">
                            {% trans %}Media references{% endtrans %}
                            {% with url = "#references" %}
                                {% include 'component/permalink.html.j2' %}
                            {% endwith %}
                        </h2>
                        <ul>
                            {% for entity in citations %}
                                <li>{% include 'entity/label--citation.html.j2' %}</li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
