{%- macro _person_name_label(entity) -%}
    {% include 'entity/label--person-name.html.j2' %}
{%- endmacro -%}
{%- macro _embedded_person_name_label(entity) -%}
    {% set embedded = True %}
    {% include 'entity/label--person-name.html.j2' %}
{%- endmacro -%}

{%- if not embedded is defined -%}
    {%- set embedded = False -%}
{%- endif -%}
<div class="small">
    {%- if entity.private -%}
        <p>{%- trans -%}This information is unavailable to protect people's privacy.{%- endtrans -%}</p>
    {%- else -%}
        {% if entity.gender.plugin.id != 'unknown' %}
            <p class="m-0">{{ entity.gender.plugin.label | localize | html_lang }}</p>
        {% endif %}
        {% set alternative_names = (entity.names | select('public') | list)[1:] %}
        {%- if alternative_names -%}
            <span class="aka">{%- trans names = alternative_names | map(_embedded_person_name_label if embedded else _person_name_label) | list | join(', ') -%}Also known as {{ names }}{%- endtrans -%}</span>
        {%- endif -%}
        {% set events = entity.presences | selectattr('role', 'presence_role_plugin', 'subject') | map(attribute='event') | reject('none') | select('public') | list %}
        {% set birth_indicators = events | selectattr('event_type.plugin.id', 'eq', 'birth') | list + events | selectattr('event_type.plugin.indicates', 'eq', 'birth') | list %}
        {%- if birth_indicators | length -%}
            {% set birth_indicator = birth_indicators | first %}
            {%- set formatted_start -%}
                {%- with event = birth_indicator -%}
                    {%- include 'entity/event-dimensions.html.j2' -%}
                {%- endwith -%}
            {%- endset -%}
        {%- endif -%}
        {% set death_indicators = events | selectattr('event_type.plugin.id', 'eq', 'death') | list + events | selectattr('event_type.plugin.indicates', 'eq', 'death') | list %}
        {%- if death_indicators | length -%}
            {% set death_indicator = death_indicators | first %}
            {%- set formatted_end -%}
                {%- with event = death_indicator -%}
                    {%- include 'entity/event-dimensions.html.j2' -%}
                {%- endwith -%}
            {%- endset -%}
        {%- endif -%}
        {%- if formatted_start is defined and formatted_start or formatted_end is defined and formatted_end -%}
            <dl class="d-table">
                {%- if formatted_start is defined and formatted_start -%}
                    <div class="d-table-row">
                        <dt class="d-table-cell pe-2">
                            {{ birth_indicator.event_type.plugin.label | localize | html_lang }}
                        </dt>
                        <dd class="d-table-cell">
                            {{ formatted_start }}
                        </dd>
                    </div>
                {%- endif -%}
                {%- if formatted_end is defined and formatted_end -%}
                    <div class="d-table-row">
                        <dt class="d-table-cell pe-2">
                            {{ death_indicator.event_type.plugin.label | localize | html_lang }}
                        </dt>
                        <dd class="d-table-cell">
                            {{ formatted_end }}
                        </dd>
                    </div>
                {%- endif -%}
            </dl>
        {%- endif -%}
    {%- endif -%}
</div>
