{% from 'entity/source-containment-label.html.j2' import source_containment_label %}
{%- set embedded = embedded | default(False) -%}
{%- set source_context = entity_contexts['source'] -%}
<div class="small">
    <p class="m-0">{{ entity.type.plugin_label() | localize | html_lang }}</p>
    {%- trans source = source_containment_label(entity.source, source_context) -%}
        in {{ source }}
    {%- endtrans -%}
</div>
