{% if resource.resource is has_links %}
    {% if resource.resource.links | length > 0 %}
        <div class="container my-5">
            <section id="external-links" class="section">
                <h2 class="section-heading">
                    {% trans %}External links{% endtrans %}
                    {% with url = "#external-links" %}
                        {% include 'component/permalink.html.j2' %}
                    {% endwith %}
                </h2>
                <ul>
                    {% for link in resource.resource.links %}
                        {% set link_url = link.url | localize %}
                        <li>
                            <a href="{{ link_url }}"{% if link_url.locale is not none %}
                               hreflang="{{ link_url.locale }}"{% endif %}
                                    {% if link.relationship is not none %} rel="{{ link.relationship }}"{% endif %}
                                    {% if link.media_type is not none %}
                               type="{{ link.media_type }}"{% endif %}>{{ link.label | localize or link.url }}</a>
                            {% if link.description %}
                                <p class="small">{{ link.description | localize }}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    {% endif %}
{% endif %}