{% set families %}
    {% with person = resource.resource %}
        {% include 'component/families.html.j2' %}
    {% endwith %}
{% endset %}

{%- if families -%}
    <div class="container my-5">
        <section id="family" class="section">
            <h2 class="section-heading">
                {% trans %}Family{% endtrans %}
                {% with url = "#family" %}
                    {% include 'component/permalink.html.j2' %}
                {% endwith %}
            </h2>
            {{ families }}
        </section>
    </div>

    {% with person = resource.resource %}
        {% include 'section/tree.html.j2' %}
    {% endwith %}
{%- endif -%}
