{% if "maps" in project.extensions %}
    {% set map -%}
        {% include 'maps/map.html.j2' %}
    {%- endset %}
    {% if map %}
        <div style="height: 75vh; min-height: 500px; max-height: 1000px;">
            {{ map }}
        </div>
        <div data-bs-theme="light-contrast">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <small>
                            {% include 'maps/attribution.html.j2' %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
