{% set file_references = file_references | selectattr('file', 'public') | list %}
{% if file_references | length > 0 %}
    <div class="my-5 py-5" data-bs-theme="dark">
        <div class="container">
            <section id="media" class="section">
                <div class="row">
                    <div class="col col-12 col-lg-8">
                        <h2 class="section-heading">
                            {% trans %}Media{% endtrans %}
                            {% with url = "#media" %}
                                {% include 'component/permalink.html.j2' %}
                            {% endwith %}
                        </h2>
                    </div>
                </div>
                <div class="media row row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
                    {% include 'component/media-gallery.html.j2' %}
                </div>
            </section>
        </div>
    </div>
{% endif %}
