{% if "wiki" in project.extensions %}
    {% set content -%}
        {% include 'wiki/wikipedia-summary.html.j2' %}
    {%- endset %}
    {% if content %}
        <div class="container my-5">
            <div class="row">
                <div class="col col-12 col-lg-8">
                    <section id="wikipedia" class="section">
                        <h2 class="visually-hidden">
                            {% trans %}About{% endtrans %}
                            {% with url = "#wikipedia" %}
                                {% include 'component/permalink.html.j2' %}
                            {% endwith %}
                        </h2>
                        {{ content }}
                    </section>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
