<div class="featured-entity-intro">
    <h2>
        {% include [
            'entity/label--place.html.j2',
            'entity/label.html.j2',
        ] %}
    </h2>
    <a href="{{ entity | url }}">
        {% with embedded = True %}
            {% include [
                'entity/meta--place.html.j2',
                'entity/meta.html.j2',
            ] ignore missing %}
        {% endwith %}
    </a>
</div>

<div class="featured-entity-feature">
    {% set places = entity | walk('encloses') | select('place_entity') | list %}
    {% if entity.coordinates %}
        {% set places = places + [entity] %}
    {% endif %}
    {% if places | length > 0 %}
        {% with entities = places, hide_list = True, featured = False %}
            {% include ['entity/list--place.html.j2', 'entity/list.html.j2'] %}
        {% endwith %}
    {% endif %}
</div>
