<div class="card">
    <div class="card-header">
        <h2 class="card-title">
            {% include [
                'entity/label--place.html.j2',
                'entity/label.html.j2',
            ] %}
        </h2>
        <a href="{{ entity | url }}">
            {% with embedded = True %}
                {% include [
                    'entity/meta--place.html.j2',
                    'entity/meta.html.j2',
                ] ignore missing %}
            {% endwith %}
        </a>
    </div>

    <div class="card-body">
        {% with entities = [entity], map_hides_list = True, featured = False %}
            {% include ['entity/list--place.html.j2', 'entity/list.html.j2'] %}
        {% endwith %}
    </div>
</div>
