{%- set embedded = embedded | default(False) -%}
{%- if not embedded and entity is public and entity is not has_generated_entity_id -%}
    <a href="{{ entity | url }}">
{%- endif -%}
{{ entity.label }}
{%- if not embedded and entity is public and entity is not has_generated_entity_id -%}
    </a>
{%- endif -%}
