{% set person_context = person_context | default(none) %}
{% set entities = entities | rejectattr('date', 'none') | selectattr('date.comparable') | list | sort(attribute='date') %}
{% include 'entity/list.html.j2' %}
