{% extends 'entity/page.html.j2' %}
{% set page_title %}
    {% with embedded=True %}
        {% include ['entity/label--event.html.j2', 'entity/label.html.j2'] %}
    {% endwith %}
{% endset %}
{% block page_content %}
    {% include ['entity/meta--event.html.j2', 'entity/meta.html.j2'] ignore missing %}

    {% if entity.place %}
        {% with entities=[entity.place], map_hides_list = true %}
            {% include 'entity/list--place.html.j2' %}
        {% endwith %}
    {% endif %}

    {% set ns = namespace(witnesses=[]) %}
    {% for presence in entity.presences %}
        {% if presence.role is witness_role %}
            {% set ns.witnesses = ns.witnesses + [presence.person] %}
        {% endif %}
    {% endfor %}
    {% if ns.witnesses | length > 0 %}
        <h2>{% trans %}Witnesses{% endtrans %}</h2>
        <ul>
            {% for witness in ns.witnesses %}
                <li typeof="foaf:Person" property="rel:knowsOf">{% with entity=witness %}{% include ['entity/label--person.html.j2', 'entity/label.html.j2'] %}{% endwith %}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% set ns = namespace(attendees=[]) %}
    {% for presence in entity.presences %}
        {% if not presence.role is subject_role and not presence.role is witness_role %}
            {% set ns.attendees = ns.attendees + [presence.person] %}
        {% endif %}
    {% endfor %}
    {% if ns.attendees | length > 0 %}
        <h2>{% trans %}Other attendees{% endtrans %}</h2>
        <ul>
            {% for attendee in ns.attendees %}
                <li typeof="foaf:Person" property="rel:knowsOf">{% with entity=attendee %}{% include ['entity/label--person.html.j2', 'entity/label.html.j2'] %}{% endwith %}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% set files = entity.associated_files | list %}
    {% if files | length > 0 %}
        <h2>{% trans %}Media{% endtrans %}</h2>
        {% with entities=files %}
            {% include 'entity/list--file.html.j2' %}
        {% endwith %}
    {% endif %}
{% endblock %}