'use strict'

const configuration = {
    resultContainerTemplate: `{% include 'search-result-container.html.j2' %}`,
    resultsContainerTemplate: `{% include 'search-results-container.html.j2' %}`,
}

export default configuration
