'use strict'

const configuration = {
    resultContainerTemplate: {
    {%- for locale in site.configuration.locales -%}
        '{{ locale }}': `{% include 'search-result-container.html.j2' %}`,
    {% endfor %}
    },
    resultsContainerTemplate: {
    {%- for locale in site.configuration.locales -%}
        '{{ locale }}': `{% include 'search-results-container.html.j2' %}`,
    {% endfor %}
    },
}

export default configuration
