{% with attributes = attributes | default(new_attributes()) %}
    {% do attributes.html_class.append('button-search') %}
    {% set button_label = _('Search') %}
    {% include 'component/button-icon.html.j2' %}
{% endwith %}
