{%- import 'macro/person.html.j2' as person_macros -%}
{%- do citer.track() -%}
<!doctype html>
<html lang="{{ app.locale }}"
      prefix="foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rel: http://purl.org/vocab/relationship/">
<head>
    {% include 'head.html.j2' %}
    <link rel="manifest" href="{{ '/betty.webmanifest' | static_url }}">
    <link rel="stylesheet" href="{{ '/cotton_candy.css' | static_url }}">
    <script src="{{ '/cotton_candy.js' | static_url }}" defer></script>
</head>
<body>
<script>
    document.body.classList.add('with-js');
</script>
<div id="page">
    <nav id="nav-primary">
        <a id="site-title" href="{{ '/index.html' | url }}" title="{{ app.project.configuration.title }}">{{ app.project.configuration.title }}</a>
        <div id="search" data-betty-search-index="{{ '/search-index.json' | url }}">
            <div class="overlay-controls">
                <span class="overlay-control overlay-close" title="{% trans %}Exit the search{% endtrans %}">{% trans %}Exit the search{% endtrans %}</span>
            </div>
            <form>
                {% set search_keywords_example_person_name = app.project.ancestry.entities['Person'] | map(attribute='name') | first | default(none) %}
                {% if search_keywords_example_person_name %}
                    {% set search_keywords_example -%}
                        {% trans example = person_macros.name_label(search_keywords_example_person_name, embedded=True) | striptags -%}
                            E.g. "{{ example }}"
                        {%- endtrans %}
                    {%- endset %}
                {% endif %}
                <input id="search-query" type="search"{% if search_keywords_example is defined %} placeholder="{{ search_keywords_example | escape }}"{% endif %}>
                <label for="search-query" title="Search">Search</label>
            </form>
            <section id="search-expanded">
                <p id="search-instructions">
                    {% trans shortcut = pgettext('enter-search-shortcut', 's') -%}
                        Use <kbd>↑</kbd> and <kbd>↓</kbd> to navigate results, or <kbd>esc</kbd> to exit the search. Search again with <kbd>{{ shortcut }}</kbd>.
                    {%- endtrans %}
                </p>
                <div id="search-results-twilight">
                    <div id="search-results-container"></div>
                </div>
            </section>
        </div>
        <div id="nav-sections" class="nav-primary-expandable">
            <h2 class="nav-primary-action">{% trans %}Menu{% endtrans %}</h2>
            <div class="nav-primary-expanded">
                <ul class="nav-secondary">
                    {% if app.project.ancestry.entities['Person'] | length > 0 %}
                        <li><a href="{{ '/person/index.html' | url }}">{% trans %}People{% endtrans %}</a></li>
                    {% endif %}
                    {% if app.project.ancestry.entities['Event'] | length > 0 %}
                        <li><a href="{{ '/event/index.html' | url }}">{% trans %}Timeline{% endtrans %}</a></li>
                    {% endif %}
                    {% if app.project.ancestry.entities['Place'] | length > 0 %}
                        <li><a href="{{ '/place/index.html' | url }}">{% trans %}Places{% endtrans %}</a></li>
                    {% endif %}
                    {% if app.project.ancestry.entities['Source'] | length > 0 %}
                        <li><a href="{{ '/source/index.html' | url }}">{% trans %}Sources{% endtrans %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if page_resource is defined and app.project.configuration.multilingual %}
            <div id="nav-locale" class="nav-primary-expandable">
                <h2 class="nav-primary-action">{% trans %}Language{% endtrans %}</h2>
                <div class="nav-primary-expanded">
                    <ul class="nav-secondary">
                    {% set ns = namespace(available_locales=[]) %}
                    {% for available_locale_configuration in app.project.configuration.locales %}
                        {% set available_locale_data = available_locale_configuration.alias | locale_get_data %}
                        {% do ns.available_locales.append((available_locale_configuration.locale, available_locale_data.get_display_name())) %}
                    {% endfor %}
                    {% for available_locale, available_locale_name in ns.available_locales | sort(attribute='1') %}
                        {% enter app.acquire_locale(available_locale) %}
                            <li><a href="{{ page_resource | url }}" hreflang="{{ available_locale }}" lang="{{ available_locale }}" rel="alternate">{{ available_locale_name }}</a></li>
                        {% exit %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </nav>
    {% if page_title is defined %}
        <div class="container">
            <h1>{{ page_title }}</h1>
        </div>
    {% endif %}
    {% block page_content %}{% endblock %}
    {% if page_resource is has_links %}
        {% set links = page_resource.links | rejectattr('label', 'none') | list %}
        {% set links = links | select_localizeds(include_unspecified=true) | list + links | selectattr('locale', 'none') | list %}
        {% if links | length > 0 %}
            <section id="container external-links">
                <h2>
                    {% trans %}External links{% endtrans %}
                    {% with url = page_resource | url ~ '#external-links'%}
                        {% include 'permalink.html.j2' %}
                    {% endwith %}
                </h2>
                <ul>
                {% for link in links %}
                    <li>
                        <a href="{{ link.url }}"{% if link.locale is not none %} hreflang="{{ link.locale }}"{% endif %}{% if link.relationship is not none %} rel="{{ link.relationship }}"{% endif %}{% if link.media_type is not none %} type="{{ link.media_type }}"{% endif %}>{{ link.label }}</a>
                        {% if link.description is not none %}
                            <div class="meta">{{ link.description | escape }}</div>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </section>
        {% endif %}
    {% endif %}
    {% include 'external-links.html.j2' %}
    {% include 'references.html.j2' %}
    {% include 'footer.html.j2' %}
</div>
</body>
</html>
