{{ {
    '$schema': 'schema.json#/definitions/response/error' | static_url(absolute=true),
    'message': _('I\'m sorry, dear, but it seems you\'re not allowed to view this page.'),
    } | json | safe }}
