{% extends 'base.html.j2' %}
{% set page_title = _('Access denied') %}
{% block page_content %}
    <p>{% trans %}I'm sorry, dear, but it seems you're not allowed to view this page.{% endtrans %}</p>
{% endblock %}
