.visually-hidden,
.with-js .js-visually-hidden {
  -webkit-clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.tooltip {
  cursor: help;
  text-decoration: dotted underline;
}
