@import 'variables.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  margin-bottom: 0;
}

h1 {
  font-weight: normal;
  font-size: 1.6rem;
}

h2 {
  font-weight: normal;
  font-size: 1.3rem;
  margin-top: 3rem;
}

a {
  text-decoration: none;
  color: $link-inactive-color;

  &:hover {
    color: $link-active-color;
  }
}

dl,
p,
li {
  line-height: 1.5;
}

address {
  display: inline;
  font-style: normal;
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #777;
  border-radius: 0.3rem;
  padding: 0 0.3rem;
}
