name: Tag development releases

on:
  push:
    branches:
      - master
      - '[0-9].[0-9].x'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the source code
        uses: actions/checkout@v2

      - name: Tag the development release
        run: git tag "$(git rev-parse --abbrev-ref HEAD)-dev"

      - name: Push the tag
        run: git push --force origin "$(git rev-parse --abbrev-ref HEAD)-dev"
