{% extends 'base.html.j2' %}
{% set places = file_resources %}
{% set page_title = _('Places') %}
{% block page_content %}
    {% with canonical=True %}
        {% include 'list-place.html.j2' %}
    {% endwith %}
{% endblock %}